<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/public-area.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">PUBLIC AREA</h2>
      <h4>ATM MACHINES</h4>
      <p>A 24/7 ATM is located in walking disctance within hotel complex at Novotel main porch.</p>
    </div>
    <div>
      <h4>BANK</h4>
      <p>For bank information please contact Concierge on 8227 or dial '0'.</p>
    </div>
    <div>
      <h4>CAR PARK</h4>
      <p>We offer valet car park service round the clock and assure utmost care while your car is in the hotel’s parking
        area. The management, however, will not bear any liability for any loss or damage to any vehicle or its contents
        whilst parked in the hotel’s car park. Please contact Concierge for further details at 8227 or dial ‘0’.</p>
    </div>
    <div>
      <h4>CREDIT CARDS</h4>
      <p>All major credit cards are accepted at the hotel: American Express, Visa, Master card, Maestro and JCB.</p>
    </div>
    <div>
      <h4>EXCHANGE</h4>
      <p>Currency exchange service is available at the Front Desk</p>
    </div>
    <div>
      <h4>EXECUTIVE FLOOR FACILITIES</h4>
      <p>For your ultimate comfort, you can enjoy these exclusive services when staying on the Executive Floor or in any of
        our Suites:</p>
      <ul>
        <li>
          <p>Preferential check in, check out and exclusive use of Executive lounge.</p>
        </li>
        <li>
          <p>Complimentary airport pick up and airport drop off.</p>
        </li>
        <li>
          <p>Coffee machine</p>
        </li>
        <li>
          <p>Exclusive bathroom amenities Unpacking service upon request ·For more information please contact Pullman
            Connect dial ‘0’.</p>
        </li>
      </ul>
    </div>
    <div>
      <h4>MAPS</h4>
      <p>City maps are available for you at the Concierge dial 8227 or '0'.</p>
    </div>
    <div>
      <h4>EXECUTIVE LOUNGE</h4>
      <p>A dedicated Welcomer is at your service to assist you during your stay with complimentary food and beverages
        available throughout the day, business services and meeting rooms which can be utilized on availibility when
        required.</p>
      <p>Executive Business Breakfast: From 0700 hrs to 1100 hrs</p>
      <p>Cocktail Hours:From 1800 hrs to 2000 hrs</p>
    </div>
    <div>
      <h4>PETS</h4>
      <p>No pets are allowed in the hotel.</p>
    </div>
    <div>
      <h4>SECURITY</h4>
      <p>Hotel security is there round the clock with both security patrols and closed circuit TV coverage. For your own
        safety and protection, please remember to keep your door double locked when in your room and to identify any visitor
        before admitting them.</p>
    </div>
    <div>
      <h4>WELCOMER</h4>
      <p>In Pullman hotels greeting guests isn't a job – it is a philosophy. Which is why Pullman hotels have Welcomers
        dedicated to ensure, you feel welcome and at home.</p>
    </div>
  </div>
</ion-content>