<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/bathroom-dir.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">BATHROOM</h2>
      <h4>BATHROBE</h4>
      <p>A bathrobe is available in your wardrobe. Should you wish to purchase one or need an extra one, please contact
        Pullman Connect or dial '0'</p>
      <h4>TOILETRY KIT</h4>
      <p>We have razors, toothpaste, shower gel, shower caps, nail filers and more at your disposal, please contact Pullman
        Connect, Dial '0'</p>
    </div>
  </div>
</ion-content>
