<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <div class="container">
    <div>
      <h3 style="text-align: center;">LOCAL EXPERIENCES</h3>
      <hr>
      <h4>Akshardham Temple</h4>
      <p>Heralded by the Guinness World Records as the World's Largest Comprehensive Hindu Temple, this temple epitomizes
        10,000 years of Indian culture.</p>
      <h4>Lotus Temple</h4>
      <p>An architectural marvel, the Bohai temple is built in the shape of a lotus flower and made of pure white marble.
      </p>
      <h4>Gurudwara Bangla Sahib</h4>
      <p>The most prominent Sikh house of worship in Delhi; the gurudwara grounds include the temple, a kitchen, a school,
        an art gallery and a large pond which is considered holy by the Sikhs.</p>
      <h4>Jama Masjid</h4>
      <p>Built by the Mughal Emperor Shah Jahan, this highly decorative mosque has three great gates, four towers and two
        40 metre-high minarets constructed of strips of red sandstone and white marble.</p>
      <h4>India Gate</h4>
      <p>New Delhi's definitive monument, this Arc-de-Triomphe-like archway commemorates the 70,000 Indian soldiers who
        lost their lives fighting for the British Army during World War I.</p>
      <h4>Red Fort</h4>
      <p>The red sandstone walls of the massive Red Fort Or Lal Qila rise 33 metres above the clamour of Old Delhi. Inside
        is a veritable treasure trove of buildings including the Drum House, the Hall of Public Audiences, the white
        marble Hall of Private Audiences, the Pearl Mosque, Royal Baths and the Palace of Colour.</p>
      <h4>Humayun's Tomb</h4>
      <p>Built in 1565 A.D. this magnificent garden tomb is the first substantial example of Mughal architecture in India.
      </p>
      <h4>Qutub Minar</h4>
      <p>Qutub Minar is a soaring, 73 metre-high tower of victory, built in 1193 by Qutab-ud-din Aibak.</p>
      <h4>Jantar Mantar</h4>
      <p>Constructed in 1724 by Maharaja Jai Singh of Jaipur; it consists of 13 architectural astronomy instruments.</p>
      <h4>Lodi Gardens</h4>
      <p>Spread over 90 acres, the Lodi Gardens were designed in 0444 by one of the ruling Mughal dynasties in India. The
        Indian National Trust for Art and Cultural Heritage (INTACH) and the Archaeological Survey of India (ASI) organize
        heritage walks within the park area.</p>
      <h4>National Zoological Park</h4>
      <p>Spread over 204 acres, the park houses more than 2,000 species of animals and birds and approximately 200
        varieties of flora.</p>
      <h4>Budhha Garden</h4>
      <p>The Buddha Gardens are beautifully decorated with manicured lawns, streams, landscaped terrain and large canopied
        trees.</p>
      <h4>Garden of Five Senses</h4>
      <p>The Garden of Five Senses is not just a park; it is a space with a variety of activities inviting public
        interaction and exploration. Majesticrocks stand silhouetted against the sky, others lie strewn upon the ground in
        a casual yet alluring display of nature's sculptural genius.</p>
      <h4>Dilli Haat</h4>
      <p>Presents a unique experience of Indian artand heritage set against a fascinating panorama of craft, cuisine and
        cultural activities. It provides the ambiance of a traditional rural haat or village market, with stalls selling
        handicrafts from all corners of the country.</p>
      <h4>Khan Market</h4>
      <p>An upscale shopping area for jewellery, delicatessens, restaurants and bookstores.</p>
      <h4>Connaught Place</h4>
      <p>Designed by Edwin Lutyens in the shape of a horse-shoe, CP is an upscale commercial district with corporate
        offices, restaurants and handloom emporiums.</p>
      <h4>Chandni Chowk</h4>
      <p>The old city's famed shopping strip; enjoy a colourful bustling street market experience.</p>
      <h4>Janpath</h4>
      <p>Street market famous for trinkets, loots"(Indian handmdde leather shoes) and traditional handicraft items.</p>
      <h4>SHOPPING</h4>
      <ul>
        <li>
          <p>Central Mall, Worldmark, Aerocity</p>
        </li>
        <li>
          <p>DLF Emporio, Vasant Kunj</p>
        </li>
        <li>
          <p>DLF Promenade, Vasant Kunj</p>
        </li>
        <li>
          <p>Ambience Mall, Vasant Kunj</p>
        </li>
        <li>
          <p>Select City Walk, Saket</p>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
