<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/spa"></ion-back-button>
  </ion-buttons>

  <div class="spa-menu-brif ion-padding-horizontal">
    <h2>CALM TO YOUR SENSES</h2>
    <p>We deliver a guest-centric, anti-stress and purifying spa experiences that
    incorporate locally & internationally sourced products in a soothing
    environment. “Woo- Wellness Spa and Salon” is a sanctuary within the
    chaos, a retreat for senses. Everything you see, taste, touch, hear and
    smell, re-balances your energy and leaves you fully renewed.</p>
  </div>
  <br>
  <ion-row style="margin-bottom: 10px; padding: 0px 8px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../../assets/Spa menu - Salon, Spa and Salon-02.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  <br>

  <div class="spa-section ion-padding-horizontal" *ngFor="let spa of spaMenu">
    <h5>{{spa.category}}</h5>
    <ion-row>
      <ion-col size="12">
        <ion-thumbnail>
          <img src="{{spa.img}}" alt="">
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <!-- <div class="spa-divider"></div> -->
    <!-- <br> -->
    <div class="spa-items" *ngFor="let item of spa.items">
      <div class="spa-item-details">
        <span style="color: #3E3D40; font-size: 18px;">{{item.name}}</span> <br>
        <span style="font-weight: 500; color: #636362; font-size: 16px;">{{item.time}}</span> <br>
        <span style="font-weight: 600; font-size: 14px;">&#x20B9;{{item.price}}.00</span> <br>
        <span style="font-weight: 500; color: #636362; font-size: 14px;">{{item.details}}</span>
      </div>
      <ion-button style="margin-top: 10px;" fill="outline" color="primary" (click)="bookSpa(item)" size="small">BOOK</ion-button>
    </div>
  </div>
</ion-content>
