<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home"></ion-back-button>
  </ion-buttons>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="bookLaundry()" size="small" shape="round" color="primary">Book Laundry</ion-button>
  </ion-fab>


  <div class="page-container">
  
    <!-- <div class="logo_head">
      <img src="img/Logo_Grey.png" class="img_head" />
    </div> -->
  
    <div class="text_div01">
      <div class="center">
        <span class="cls_002">WE ARE PROUD </span><span class="cls_003">TO PROVIDE THE</span>
      </div>
      <div class="center">
        <span class="cls_002">HIGHEST QUALITY CARE </span><span class="cls_003">FOR ALL YOUR</span></div>
  
      <div class="center">
        <span class="cls_002">VALUED GARMENTS</span></div>
    </div>
  
    <div class="text_div02">
      <div class="center">
        <span class="cls_004">Use of hygienic and specialised cleaning reagents</span>
      </div>
      <div class="center">
        <span class="cls_004">Professional Laundry Service</span>
      </div>
      <div class="center">
        <span class="cls_004">Contact-Less Pickup & Delivery Service</span>
      </div>
    </div>
  
    <div class="text_div03">
      <div class="text_div003">
        <div class="center">
          <span class="cls_005">Delivery Time: 48 hours - 72 hours</span></div>
        <div class="center">
          <span class="cls_005">Delivery Radius: 10km</span></div>
        <div class="center">
          <span class="cls_005">Minimum Order: </span><span class="cls_005">`</span><span class="cls_005"> 2000+
            Taxes</span>
        </div>
      </div>
    </div>
  
    <div class="text_div04">
      <div class="center">
        <span class="cls_006">For more information, please call or whatsapp:</span></div>
      <div class="center">
        <span class="cls_008">+91 99108 84950</span></div>
    </div>
  
    <div class="text_div05">
      <div class="center">
        <span class="cls_007">*Garments which can be laundered</span></div>
      <div class="center">
        <span class="cls_007">(Eg: All garments mentioned in the laundry slip)</span></div>
    </div>
  </div>

  <br><br>

  <div class="page-container">



<div class="text_div201">
<div class="center">
<span class="cls_201">Laundary Item List</span>
</div>
</div>

<div class="text_div202">
<div class="left">
<span class="cls_202">GENTELMAN LAUNDARY</span>
</div>
</div>

<div class="text_div203">
<div class="left">
<table class="table_items">
<tr><td>Shirt</td><td>nso</td></tr>
<tr><td>T-shirt</td><td>noo</td></tr>
<tr><td>Safari suit</td><td>2500</td></tr>
<tr><td>Trousers</td><td>2400</td></tr>
<tr><td>Shorts</td><td>2200</td></tr>
<tr><td>Briefs</td><td>2150</td></tr>
<tr><td>Socks (pair)</td><td>2100</td></tr>
<tr><td>Handkerchief</td><td>2100</td></tr>
<tr><td>Pyjama</td><td>2250</td></tr>
<tr><td>Sweatshirt</td><td>nso</td></tr>
<tr><td>Track suit</td><td>2400</td></tr>
<tr><td>Kurta</td><td>nso</td></tr>
<tr><td>Dhoti</td><td>2250</td></tr>
<tr><td>Pyjama</td><td>2400</td></tr>
<tr><td>Apron</td><td>2100</td></tr>
</table>
</div>
</div>

<div class="text_div202">
<div class="left">
<span class="cls_202">LADIES LAUNDARY </span>
</div>
</div>

<div class="text_div203">
<div class="left">
<table class="table_items">
<tr><td>Dress</td><td>2450</td></tr>
<tr><td>Trousers</td><td>2350</td></tr>
<tr><td>Saree</td><td>2450</td></tr>
<tr><td>Blouse</td><td>2250</td></tr>
<tr><td>Petticot</td><td>2250</td></tr>
<tr><td>Skirt</td><td>noo</td></tr>
<tr><td>Shirt</td><td>noo</td></tr>
<tr><td>T-shirt</td><td>noo</td></tr>
<tr><td>Salwer kameez</td><td>2450</td></tr>
<tr><td>Scarf</td><td>2200</td></tr>
<tr><td>Brassiere</td><td>2200</td></tr>
<tr><td>Panty</td><td>2200</td></tr>
<tr><td>Slip</td><td>2200</td></tr>
<tr><td>Stocking</td><td>2200</td></tr>
<tr><td>Dressing gown</td><td>2400</td></tr>
<tr><td>Night gown</td><td>2400</td></tr>
<tr><td>Slacks</td><td>2250</td></tr>
</table>
</div>
</div>

<div class="text_div202">
<div class="left">
<span class="cls_202"> GENTLEMAN DRY CLEANING </span>
</div>
</div>

<div class="text_div203">
<div class="left">
<table class="table_items">
<tr><td>Suit (2pcs.)</td><td>noo</td></tr>
<tr><td>Safari suit</td><td>2650</td></tr>
<tr><td>Coat</td><td>2450</td></tr>
<tr><td>Trousers</td><td>2400</td></tr>
<tr><td>Waist coat</td><td>nso</td></tr>
<tr><td>Shirt</td><td>2400</td></tr>
<tr><td>Over coat</td><td>2600</td></tr>
<tr><td>Sherwani</td><td>2450</td></tr>
<tr><td>Pullover</td><td>2450</td></tr>
<tr><td>Tie</td><td>2250</td></tr>
<tr><td>Scarf</td><td>2250</td></tr>
<tr><td>Handkerchief</td><td>2100</td></tr>
<tr><td>Pyjama</td><td>2400</td></tr>
<tr><td>Dressing gown</td><td>2450</td></tr>
<tr><td>Jacket</td><td>2450</td></tr>
</table>
</div>
</div>

<div class="text_div202">
<div class="left">
<span class="cls_202">LADIES DRY CLEANING</span>
</div>
</div>

<div class="text_div203">
<div class="left">
<table class="table_items">
<tr><td>ITEM</td><td>PRICE</td></tr>
<tr><td>Jacket</td><td>2450</td></tr>
<tr><td>Dress</td><td>2600</td></tr>
<tr><td>Saree</td><td>2600</td></tr>
<tr><td>Blouse</td><td>2350</td></tr>
<tr><td>Skirt</td><td>2350</td></tr>
<tr><td>Trousers</td><td>2400</td></tr>
<tr><td>Shirt</td><td>2400</td></tr>
<tr><td>Salwer kameez</td><td>2600</td></tr>
<tr><td>Scarf</td><td>2200</td></tr>
<tr><td>Cardigan</td><td>2400</td></tr>
<tr><td>Shawl</td><td>2450</td></tr>
<tr><td>Dressing gown</td><td>2450</td></tr>
<tr><td>Night gown</td><td>2450</td></tr>
<tr><td>Over coat</td><td>2600</td></tr>
<tr><td>Slacks</td><td>2250</td></tr>
</table>
</div>
</div>

<div class="text_div202">
<div class="left">
<span class="cls_202">GENTLEMAN PRESSING</span>
</div>
</div>

<div class="text_div203">
<div class="left">
<table class="table_items">
<tr><td>Suit (2pcs.)</td><td>2400</td></tr>
<tr><td>Safari suit</td><td>2400</td></tr>
<tr><td>Jacket </td><td>noo</td></tr>
<tr><td>Trousers </td><td>2250</td></tr>
<tr><td>Waist coat</td><td>2200</td></tr>
<tr><td>Shirt </td><td>2250</td></tr>
<tr><td>T-shirt </td><td>2200</td></tr>
<tr><td>Shorts </td><td>2100</td></tr>
<tr><td>Over coat</td><td>nso</td></tr>
<tr><td>Pull over</td><td>2250</td></tr>
<tr><td>Tie </td><td>2100</td></tr>
<tr><td>Dressing gown</td><td>noo</td></tr>
<tr><td>Pyjama </td><td>2250</td></tr>
<tr><td>Kurta </td><td>2250</td></tr>
<tr><td>Sweatshirt </td><td>2250</td></tr>
</table>
</div>
</div>

<div class="text_div202">
<div class="left">
<span class="cls_202">LADIES PRESSING</span>
</div>
</div>

<div class="text_div203">
<div class="left">
<table class="table_items">
<tr><td>Jacket</td><td>2250</td></tr>
<tr><td>Trousers</td><td>2250</td></tr>
<tr><td>Dress</td><td>2400</td></tr>
<tr><td>Saree</td><td>2400</td></tr>
<tr><td>Blouse</td><td>2250</td></tr>
<tr><td>Petticoat</td><td>2250</td></tr>
<tr><td>Skirt</td><td>2250</td></tr>
<tr><td>Shirt</td><td>2250</td></tr>
<tr><td>Salwar kameez</td><td>2350</td></tr>
<tr><td>Scarf</td><td>2100</td></tr>
<tr><td>Cardigan</td><td>2250</td></tr>
<tr><td>Over coat</td><td>2350</td></tr>
<tr><td>Night gown</td><td>2300</td></tr>
<tr><td>T-shirt</td><td>2250</td></tr>
<tr><td>Coat</td><td>2300</td></tr>
</table>
</div>
</div>

<div class="text_div202">
<div class="left">
<span class="cls_202">OTHERS </span>
</div>
</div>

<div class="text_div203">
<div class="left">
<table class="table_items">
<tr><td>Bedsheet (Single)  </td><td>200</td></tr>
<tr><td>Bedsheet (Double)  </td><td>300</td></tr>
<tr><td>Pillow Cover (Each) </td><td>200</td></tr>
<tr><td>Pillow (Tumble Dry) </td><td>100</td></tr>
<tr><td>Blanket (Dry Cleaning) </td><td>600</td></tr>
<tr><td>Sofa Cover (1 Seater)</td><td>250</td></tr>
<tr><td>Sofa Cover (2 Seater)</td><td>350</td></tr>
<tr><td>Sofa Cover (3 Seater)</td><td>500</td></tr>
<tr><td>Cushion (Tumble Dry) </td><td>50</td></tr>
<tr><td>Face Towel  </td><td>50</td></tr>
<tr><td>Hand Towel  </td><td>100</td></tr>
<tr><td>Bath Towel  </td><td>200</td></tr>
<tr><td>Bath Rug  </td><td>150</td></tr>
</table>
</div>
</div>

<div class="text_div04">
<div class="center">
<span class="cls_006">For more information, please call or whatsapp:</span></div>
<div class="center">
<span class="cls_008">+91 99108 84950</span></div>
</div>
</div>
</ion-content>