.page-container{
   
}
.firstpage{
position:absolute;
left:50%;
margin-left:-297px;
top:0px;
width:595px;
height:841px;
border-style:outset;
overflow:hidden
}
.img_head{
   text-align: center;
    width: 30%;
    margin: 5% 35% 5% 35%;
}
.img_foot{
text-align: center;
    width: 100%;
}
.center{
text-align:center;
}
.cls_002{
   font-weight: 600;
    color: #A99C95;
    font-size: 22px;
}
.cls_003{
   font-weight: 500;
    color: #A99C95;
    font-size: 16px;
}
.cls_004{
color: rgb(101,98,98);
    line-height: 1.2;
}
.cls_005{
color: rgb(101,98,98);
    line-height: 1.2;
    font-weight: bold;
    font-size: 14px;
}
.cls_006{
color: rgb(101,98,98);
    line-height: 1.2;
    font-weight: bold;
    font-size: 14px;
}
.cls_008{
color: rgb(101,98,98);
    line-height: 1.2;
font-size: 24px;
    font-weight: 600;
}
.cls_007{
color: rgb(101,98,98);
    line-height: 1.2;
    font-weight: normal;
    font-size: 12px;
}
.text_div02{
   margin: 30px 0px 30px 0px;
}
.text_div03{
  
}
.text_div003{
   
}
.text_div04{
margin: 30px 30px;
   
}


/*---2ns page----*/
.img_foot2{
text-align: center;
    width: 25%;
    margin: 5% 35% 0 35%;
}
.blank_div{
height: 20px;
    background: #524f4f;
}
.text_div201{
   margin: 30px 0px 30px 0px;
}
.cls_201{
    color: rgb(76, 74, 74);
    line-height: 1.2;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}
.left{
}
.text_div202{
    padding: 5px 15px;
    background: #E1BCB5;
    text-align: center;
}
.text_div203{
margin: 30px 30px;    
}
.cls_202{
    color: rgb(76, 74, 74);
    line-height: 1.2;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.table_items{
width:100%;
}

.table_items th{
    text-align: left;
}