<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home"></ion-back-button>
  </ion-buttons>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="bookLaundry()" size="small" shape="round" color="primary">Book Laundry</ion-button>
  </ion-fab> -->

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../assets/test.jpg" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-padding">
    <ion-col size="12" class="journey-tiles" style="background-color: rgba(195, 60, 91, 0.4);">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">TV Channel List
        menu</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: rgba(143, 50, 71, 0.38);">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Pillow Menu</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #8BA37E;">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Laundry List</span> <br>
    </ion-col>
  </ion-row>

</ion-content>