<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../assets/test.jpg" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-padding">
    <ion-col size="12" class="journey-tiles" [routerLink]="['/hotel/tabs/hotel-home/irs/irs-laundry']">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Laundry</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" [routerLink]="['/hotel/tabs/hotel-home/irs/irs-pillow']">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Pillow Menu</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" [routerLink]="['/hotel/tabs/hotel-home/irs/irs-planet21']">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Sustainability-Planet21</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" [routerLink]="['/hotel/tabs/hotel-home/irs/irs-fitness']">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">In room fitness</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" [routerLink]="['/hotel/tabs/hotel-home/irs/irs-essentials']">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">In room essentials</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" [routerLink]="['/hotel/tabs/hotel-home/irs/irs-refreshment']">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">In room refreshments</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" [routerLink]="['/hotel/tabs/hotel-home/irs/irs-safe']">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Safe Instructions</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" [routerLink]="['/hotel/tabs/hotel-home/irs/irs-remote']">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">remote Instructions</span> <br>
    </ion-col>
  </ion-row>

</ion-content>