<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <div class="container">
    <div>
      <h2 style="text-align: center;">MEETINGS AND EVENTS</h2>
      <p>For meetings, events or cocktails, Pullman New Delhi Aerocity has an entirely moldable convention center with a
        total of 3 boardrooms and 13 Comeeting rooms.</p>
      <p>Our sales/events team will be pleased to give you all the information you may require. For further information or
        to set up a meeting with our Sales team, please contact Pullman Connect, Dial '0'.</p>
    </div>
  </div>
</ion-content>