<ion-toolbar>
  <ion-title>
    <img src="../../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <!-- <ion-buttons slot="end">
    <ion-button (click)="dismissCart()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons> -->
</ion-toolbar>

<ion-content>
  <div class="bottom-buttons">
    <div class="place-order-btn ion-padding-horizontal">
      <ion-row>
        <ion-col size="4">
          <ion-button (click)="dismissCart()" color="light" mode="md" expand="block"
            style="text-transform: capitalize;">
            <ion-icon size="small" slot="start" name="chevron-back-outline"></ion-icon>
            Back
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-button (click)="placeRequest()" color="primary" mode="md" expand="block"
            style="text-transform: capitalize;">
            <ion-icon size="small" slot="end" name="caret-forward-outline"></ion-icon>
            Place Request
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="12">
      <p style="font-size: 22px;">
        You have requested for <span>{{action}} </span> to be changed.
      </p>
    </ion-col>
  </ion-row>

  <div class="room-number ion-padding-horizontal">
    <h6>Please enter your room number to continue.</h6>
    <ion-item>
      <ion-label position="floating">Room Number</ion-label>
      <ion-input type="number" clearInput="true"></ion-input>
    </ion-item>
  </div>

</ion-content>