<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/well-being.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">WELL BEING</h2>
      <h4>DOCTOR</h4>
      <p>Our hotel has a provision for first aid round the clock and a doctor on call, should you require medical assistance
        or advice. For an appointment with the doctor please contact Pullman Connect or dial ‘0’ (doctor’s charges
        applicable).</p>
    </div>
    <div>
      <h4>PHARMACY</h4>
      <p>The hotel is not allowed to administer any type of medication. For medical assistance or for information on the
        nearest pharmacy, please contact Concierge, Dial 8227.</p>
    </div>
    <div>
      <h4>FIT & LOUNGE</h4>
      <p>Located on the 2nd floor, Fit Lounge invites you to enjoy your workout routine in our fully equipped,
        state-of-the-art gymnasium, overlooking the pool .It features a wide selection of training and exercise machines, in
        addition to free weights. The Pullman Fit Lounge is just the place to find sanctuary before or after a long day.
        Should you want to delve into Yoga & Santulan- our skilled trainers will focus on your specific strengths and needs
        and will tailor make a session and usher you into the world of fitness.</p>
      <h5>Timings:</h5>
      <p>Gymnasium:<br>
        Open 24 hours <br>
        (Gym Instructor available only till 12 am)</p>
      <p>Spa Wet Areas:<br>
        0700 hrs to 2300 hrs
        Last appointment at 2300 hrs</p>
    </div>
    <div>
      <h4>HAIR DRESSER</h4>
      <p>Woo Wellness Spa & Salon is located on level 2. For further information please contact Pullman Connect or dial ‘0’.
      </p>
    </div>
    <div>
      <h4>MASSAGE & SPA TREATMENTS</h4>
      <p>The Woo Wellness Spa & Salon located on level 2, offers wellness services for men and women such as massage,
        facials etc. For more information, please contact the Spa reception
        (open from 0800 hrs - 2200 hrs), dial 8205.</p>
    </div>
    <div>
      <h4>RECREATION & ACTIVITIES</h4>
      <p>Our concierge can assist you with arranging several recreational activities and outdoor excursions. For further
        details please contact the Concierge at 8227 or dial '0'.</p>
    </div>
    <div>
      <h4>SPA</h4>
      <p>Experience “Tranquillity to Transcendence” at Woo Wellness Spa & Salon which delivers tailor made, anti-stress and
        purifying spa experiences. Treat yourself to a therapeutic massage after a long day of meetings and enjoy the exotic
        blends of our oriental aroma therapies. Each of our holistic treatments will take you to a new level of peace and
        serenity in one of the 8 treatment rooms</p>
      <p>Spa Treatment booking: 24 hours:<br>Spa wet Areas:
        0700 hrs to 2100 hrs</p>
    </div>
    <div>
      <h4>SALON</h4>
      <p>WOO Salon is a friendly and welcoming respite from the stresses of typical daily living. It offers a variety of
        specialised and personalized skin care treatment for men and women, such as facials, pedicures, manicures, hair
        styling, haircare, bleaching, make-up, colouring and more.</p>
      <p>Salon timings:<br>
        Daily 0900 hrs to 2100 hrs</p>
    </div>
  </div>
</ion-content>