<ion-toolbar>
  <ion-title>
    <img src="../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissCart()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="bottom-buttons" *ngIf="cartItems !== undefined">
    <div class="place-order-btn ion-padding-horizontal">
      <ion-button (click)="orderPlaced()" color="success" mode="md" expand="block" style="text-transform: capitalize;">
        <ion-icon size="small" slot="end" name="caret-forward-outline"></ion-icon>
        Place Order
      </ion-button>
    </div>
  </div>

  <div class="no-items" *ngIf="cartItems === undefined">
    <p>No items added in cart!</p>
  </div>


  <div class="toggleMenus" *ngIf="cartItems !== undefined">
    <ion-list lines="none" mode="md" style="background: transparent;" *ngFor="let item of cartItems">
      <ion-item style="margin-top: -15px;" mode="md" style="background: transparent;">
        <ion-label>
          <div class="details">
            <h2 style="font-size: 13px; font-weight: 600; display: flex; align-items: center; white-space: pre-wrap;">
              {{item.name}}
            </h2>
            <h3 class="price">&#x20b9;{{item.price}}.00</h3>
          </div>
  
          <div class="add-action">
            <ion-button (click)="addItemInitial(item)" *ngIf="item.qty === 0" fill="outline" size="small" color="medium"
              style="text-transform: capitalize; font-weight: 400;">
              Add <ion-icon style="margin-right: 5px;" slot="icon-only" size="small" name="add-outline"></ion-icon>
            </ion-button>
  
            <div class="add-item-button" *ngIf="item.qty !== 0">
              <ion-icon (click)="decrementQty(item)" class="add-item-button-left" name="remove-outline"></ion-icon>
              {{item.qty}} <ion-icon (click)="incrementQty(item)" class="add-item-button-right" name="add-outline">
              </ion-icon>
            </div>
  
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <br> <br>

  <div class="guest-details" *ngIf="cartItems !== undefined">
    <div class="spa-divider"></div>
    <br>
    <ion-item lines="none">
      <ion-label>
        <div class="details">
          <p>Room Number</p>
          <p style="font-size: 18px;">6002</p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Cooking Instruction</ion-label>
      <ion-textarea style="padding: 0px 10px !important;
                border: 1px solid #2e5e227a;
                margin-top: 15px;
                border-radius: 5px;
                background-color: #fff;" class="ion-padding-horizontal"></ion-textarea>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-label>
        <div class="details">
          <p style="font-size: 15px;">Number Of Guests</p>
        </div>
  
        <div class="add-action">
          <div class="add-item-button">
            <ion-icon (click)="decrementGuest()" class="add-item-button-left" name="remove-outline"></ion-icon>
            {{guestQty}} <ion-icon (click)="incrementGuest()" class="add-item-button-right" name="add-outline"></ion-icon>
          </div>
        </div>
      </ion-label>
    </ion-item>
    <br>
    <div class="spa-divider"></div>
  </div>

  <br> <br>

</ion-content>
