<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home"></ion-back-button>
  </ion-buttons>


  <div class="explore-wrap-v ion-padding-horizontal">
    <div>
      <ion-thumbnail>
        <img src="../../../../assets/Cafe Pluck Opt 1.jpg" alt="">
      </ion-thumbnail>
      <h3 style="text-align: center;">Café Pluck</h3>
      <p>Café Pluck is a 24*7 casual, contemporary and stylish delicatessen restaurant serving European, Italian and Indian
        fare. Relish all-day dining meals, freshly brewed coffees, a hearty breakfast, innovative drinks at this super
        classy all-day dining eatery. The outlet serves bespoke curated menus and innovative small plates which are perfect
        for sharing delectable eatables.</p>
      <p>The Café has recently introduced an innovative menu with art elements. Comic Art, in association with Mould India,
        showcasing exemplary art pieces by accomplished European artists, such as Guillermo Forchino, Romero Britto is
        displayed at the outlet. The sculptures are from Paris available for sale. Some of the dishes, such as the Le Biker
        Akuri are inspired by these handmade sculptures and have a unique look that is pleasing to the eye and also serves
        as mood enhancers. These figurines relate to dishes and add an element of fun, making the entire dining experience
        memorable. The restaurant is widely known for its high tea and exclusive street food, offering an extensive range of
        beverages, along with freshly baked treats and gourmet retail goods. As a special tribute to Indian Tea Culture,
        Cutting Chai and Masala Chai is served in traditional style along with innovative street food.</p>
      <p>The outlet also has a Pastry Counter with Classic French Pastries & Breads and offers alcoholic Beverages,
        including Whiskey, Beer and Cocktails. Some of the signature dishes include Chicken Schnitzel, Hot Dog, Forest
        mushroom Cappuccino Soup. Also, on offer are all-time favourites such as Salad, Starters, Italian Artisanal
        Sandwiches, and Classics like Napolitano Pizza and Panini. To make it a place ideal for tea conversations, the
        restaurant has included various chaat delicacies like Samosa, Dahi Puchka, Shakarkandi ki Chaat, the Famous Vada
        Pav. These Indian snacks are served in small sharing plates on the community table of the restaurant. The community
        table is perfect for groups sharing conversations over a cuppa of ‘chai’.</p>
      <p>The cafe serves Indian food in tiffins which directly appeals to the inner child of the guests, recreating their
        childhood memories. To cater to midnight cravings and hunger pangs, the Bistro-style Cafe also serves a late-night
        menu which includes Soups, Salads, Pasta, Biryani, Burgers, and Desserts. </p>
    </div>
    <hr>
    <div>
      <ion-thumbnail>
        <img src="../../../../assets/pluck opt2.jpg" alt="">
      </ion-thumbnail>
      <h3 style="text-align: center;">Pluck</h3>
      <p>Pluck, our Signature Buffet restaurant at Pullman New Delhi Aerocity serves Regional Indian, Middle Eastern,
        Mediterranean and Hawker Style Asian Cuisine. Pluck is committed to offer the freshest, safest ingredients in a
        seasonal menu that is locally focused and globally artistic, cultivating a healthy relationship on our tables. The
        menu at Pluck is decided by seasonal availability of produce. With an in house farm of 5000 sq.ft., our chefs pluck
        the freshest ingredients for your meal and the result can be felt in every bite that you take.</p>
      <p>At Pluck, the culinary team endeavour is to provide varied international cuisine from across the globe that appeals
        to local and international guests. The satisfaction of cooking and serving what you may have grown is unmatched at
        this upscale hotel. </p>
      <p>The restaurant has introduced a revamped lunch and dinner buffet menu presenting 15 different islands which
        includes Grandma’s Kitchen that serves regional kebabs cooked right in front of the guests. Chef’s favourite Home
        Made Dishes made from Secret Recipes of Moms are served. Lava Grill home serving meat and vegetables cooked as per
        your liking.</p>
      <p>Salad & Antipasti counter serve home grown vegetables paired with super grains like Quinoa Wild Rice and Millets
        for your guilt free & super healthy diet. Along with this, the spread has European & Artisanal cheese and cured meat
        to complement your food. Further, one can treat their palette to a wide variety of delectable progressive &
        traditional chaat at the Chaat Counter.</p>
      <p>The other islands include Pickle Wall, where the guest can choose from 22 varieties of pickles from India and
        regional Indian section that will offer best veg and non veg biryani in the town. Moreover, roast of the day counter
        served with flavoured olive oil and varieties of mustard will add spice in the buffet.</p>
      <p>The European & Mediterranean station serving authentic produce, fresh Ingredients from garden, sourced from local
        markets; a Live Pasta Station where home-made and artisanal pasta are cooked as per your taste; a Noodle Soup Bar
        which changes every day where guests can pick the ingredients for their soup bowl and give it to Chef are few more
        to add on; and Roast of the Day. </p>
      <p>Additionally, you can find a Singaporean & Tibetan station for street style dishes, an Indian & International
        Dessert Counter along with a Gelato Cart consisting of a wide variety of homemade gelatos served with a Waffle Cone.
      </p>
      <p>Apart from all of this, Pluck has a Spice Market where there will be retail of Spices and pickle too.</p>
      <p>Also, there is an option of Ala Carte Menu serving some Signature dishes including
        Will be communicated from New Menu<br>
        Monday to Saturday, Lunch: Rs.1695 ++<br>
        Monday to Sunday, Dinner: Rs.1995 ++<br>
    
        Other offerings include Sunday Brunch. <br>
    
        Food Lovers Brunch: Rs.2900 ++<br>
        Sparkling Wine Brunch: Rs.3900 ++<br>
        Champagne Brunch: Rs.4750 ++
      </p>
      <h4>Chef of Pluck </h4>
      <p>Chef Shyam Dhar Rai, Chief Culinary Designer, Pullman & Novotel New Delhi Aerocity.</p>
      <h4>Pluck Factsheet</h4>
      <p>Seating capacity: 110 guests <br>
        Hotel Timings: 6:30 a.m. – 11: 30 p.m.<br>
        Lunch Buffet timings: 12pm-3pm <br>
        Dinner timings: 7 pm -11.30pm
      </p>
    </div>
    <hr>
    <div>
      <ion-thumbnail>
        <img src="../../../../assets/pling opt1.jpg" alt="">
      </ion-thumbnail>
      <h3 style="text-align: center;">Pling</h3>
      <h4 style="text-align: center;">Vibrant lux-lounge</h4>
      <p>Situated at the lobby level of Pullman New Delhi Aerocity, Pling is the elegant, sensuous and tranquil lounge-bar.
        The very name is inspired by the sound of ice dropping in a glass of liquid and connotes good times and shared
        laughter. Pling offers a high-end lounge bar experience with live music, exclusive club style services and showcases
        the signature ‘Vinoteca by Pullman’ which offers an international wine selection by the glass or bottle. The
        elegantly designed aesthetics of the bar, accompanied by the sumptuous selection of hors d'oeuvres and tapas, makes
        it a perfect place to meet friends and associates alike. Pling, our vibrant lux-lounge serves both national and
        international bands.</p>
      <h4>Vinoteca by Pullman</h4>
      <p>Vinoteca is a concept that is synonymous with Pullman across the world. The introduction of Vinoteca by Pullman is
        a good example of how Pullman New Delhi Aerocity aims to meet the needs of the modern traveller. At Vinoteca by
        Pullman, a minimum selection of ten wines is served by the glass and a minimum of two Champagnes served by the
        glass. The selection changes regularly to vary the offering as Pullman encourages guests to try as many wines as
        possible. Appropriate wine preservation systems to store and serve wines by the glass effectively are in place. At
        Pullman, wine is an ice-breaker, a conversation starter. After work, after a meeting, before going back to the room,
        at cocktail time or after dinner, wine brings people together.</p>
      <h4>Food</h4>
      <p>We at Pling thrive to surprise our guests with food elements prepared & presented in a way which compliments local
        tastes and aspirational dining desires. Menu at Pling has been curated by Chef Ajay Anand, Director of Culinary.
        Signature dishes include Nagori Methi Chicken Tikka with Pineapple Relish, Amritsari Lamb with pepper tart and
        Dhania Mirch ka Fish tikka .The menu is curated to enhance the beverage experience at Pling. A selection of Sliders
        and international selections of cheeses around the world is highlighters at Pling. Desserts cater to those who like
        to spend late evenings in a bar, have a glass of wine and enjoy sweet something’s. On the menu desserts are like the
        indulgent Mont Blanc with chestnut cream and Mushroom Meringue. Hazelnut Praline with Flourless Hazelnut Cake,
        Gianduja Mousse, Orange Curd and Praline Ice Cream, Pliable chocolate is one of the most famous desserts served with
        Mandarin sorbet is for those who look for desserts and chocolate.</p>
      <h4>Cocktails and Mocktails</h4>
      <p>At Pling, the cocktails and mocktails are made up using fresh, homemade syrups with herbs from the in-house farm.
        Pullman Signature, inspired from the legacies of French collection of spirits and liqueurs is made using Cognac,
        Cointreau, Espresso, and Chocolate. The Twist, our mixologist’s concoction is made using Kentucky straight whisky
        with a twist of ginger in the sweetness of maple. Some amazing creations like The Marriage which is a perfect blend
        of Gin, egg white, homemade peach syrup and vermouth or The Debut which is an amalgamation of rum, kaffir lime and
        homemade chilly syrup.<br>
        Grape Year, a non-alcoholic legacy drink, made from breakfast compotes & preserves creates an outstanding character
        by itself. Shanghai Be,another non-alcohlic gem is aperfect balance between bell peppers and basilplucked from our
        in-house herb garden.
      </p>
      <h3 style="text-align: center;">Celebrate success. Celebrate you.</h3>
      <h3>Jazz Nights at Pling- Current Promotion </h3>
      <p>With music wafting through the air, plush interiors, Jazz melodies & sparkling cocktails- it is no longer mundane
        in Aerocity! Pullman New Delhi Aerocity is one of the only 5 star hotels in the vicinity, offering live Jazz Nights.
        By inviting renowned artists from all around the world, the upscale hotel is becoming a popular destination for jazz
        aficionados in the city. Acclaimed jazz performers from across the globe, often take the stage here and enthral
        guests with their tunes. This has made performers and audiences come together like never before.</p>
      <p>With the perfect ambiance, guests can sip on mood cocktails and gorge on delicious nosh while tapping to the
        classic Jazz tunes only at Pullman New Delhi Aerocity. Sway to the tunes in panache and style only at this hotel in
        Aerocity. </p>
      <p><b>What:</b> Jazz Nights at Pling, with Sofia Hoffman</p>
      <p><b>Where:</b> Pling, Pullman New Delhi Aerocity</p>
      <p><b>Reservation:</b> Email h7559-fb1@accor.com or Call +919871666600</p>
      <p><b>Pling Factsheet</b></p>
      <p><b>Seating capacity:</b> 60 guests </p>
      <p><b>Operating hours -</b> 0700hrs - 1230hrs</p>
      <p><b>Alcohol service -</b> 1100hrs - 0230hrs</p>
    </div>
    <hr>
    <div>
      <ion-thumbnail>
        <img src="../../../../assets/Honk Opt1.jpg" alt="">
      </ion-thumbnail>
      <h3 style="text-align: center;">Honk</h3>
      <p style="text-align: center;">(Asian inspired street food cuisine)</p>
      <p>Honk by Pullman, the Pan Asian style restaurant of the upscale hotel is known to elicit guests in Aerocity with
        street-style cuisine from South East Asia. <b>Serving Street Smart Food</b> is the motto at Honk. </p>
      <p>At the signature dining restaurant of Pullman New Delhi Aerocity, the culinary journey is showcased through the
        Honk Cart traversing the major rice bowl regions including China, Thailand, Vietnam, Burma, Indonesia and Japan.
        Travelers and locals alike often line- up for good food from the many food carts that line the streets of Asia. </p>
      <p>The ‘HONKing’ and ‘HAWKing’ in the midst of the busy and often chaotic streets are melting pots of authentic,
        flavourful and traditional street-style dishes. From a quick snack to an entire meal, you can often find the most
        entertaining cultural and cuisine experiences by visiting the many street food carts in Asia. Our culinary artists
        at the 5-star hotel have researched and extensively traveled to bring native rice variants from these regions along
        with the traditional cooking styles to bring to your table an immersive dining experience. This rice is cooked in
        different traditional ways like using Clay Pot and Bamboo Leaf and similar to give an authentic taste of that
        particular region.</p>
      <p>While the food takes inspiration from the street-style cuisine popular in Asia, the presentation and décor are
        distinctly natural. The menu has been carefully curated to showcase culinary influences from the diverse regions of
        Asia, primarily Chinese and Japanese with a glimpse of Thai- (Northern, Central, Southern), Hawker Style Singaporean
        dishes, Traditional Vietnamese dishes and famous Indonesia dishes. </p>
      <p>At Honk, special emphasis is laid on procuring the right ingredients like the Soy Sauce from Singapore or the
        Yakitori, Sushi, Sashmi, Low Fat Tuna like Maguro from Japan, Cantonese, authentic schezwan from China and more to
        provide an unparalleled dining experience to the guests. </p>
      <h4>Food-à la carte</h4>
      <p>
        The menu at Honk is designed with culinary influences from South East Asia and is divided broadly into Raw &
        Nibbles, Soups, Steamed, Sides, Vegetarian, Rolls, Sashimi, Tempura and Skewers. An Amuse Bouche and House crisps of
        three flavours (dried spinach, turmeric and togarashi) are served to all guests to begin with. The in–house sambals
        and fresh produce is the USP of the food at Honk. From the menu, take a pick from Raw & Nibbles where Crispy Lotus
        Stem Asparagus is served with chilies and brown garlic and complimented with caramalised onion. Stuffed Wings with
        Thai Herbs set the tone for the meal. The chicken is marinated for 24 hours and cooked for hours, thereby keeping
        the juices intact. Soups will develop appetite like no other. Asian Green Broth is flavourful and wholesome while
        the Khao suey soup is warm and hearty. Steamed line-up has an array of delectable dumplings that are feasty and
        sublime. A choice of Edamame and Shallot dumplings, Chili bean Radish and glass noodle Dumplings or the Four
        Mushroom Dumplings await to tease the vegetarian palate. The Prawn Hargao with Honk condiment Sauce is an apt choice
        for non-vegetarians with other options like Chicken Sichuan and pan-fried Pork dumpling. From Mains, Nanjing Style
        Duck is highly recommended by our chefs and Thai basil chili Shrimps represents the indigenous flavours of South
        East Asia. Sides have an array of options for all palates: the classic Steamed Jasmine Rice, Kimchi Fried Rice with
        Edamame and crispy chorizo or our signature Bangkok street cart basil fried rice. In Curries, the Massaman Curry
        with Baby Potatoes, Cinnamon, Coconut Cream and Crushed Potatoes comes recommended. There are plentiful options for
        vegetarians, with dishes like Stir Fried Exotic Vegetables in brown garlic chili sauce or Braised shitake with
        pokchoy soy sauce ensuring that vegetarians eat heartily, too.</p>
      <p>Desserts are Modern and Traditional at this South East Asian Outlet, the traditional dishes include oriental
        ingredients, innovative & modern take on traditional dishes.</p>
      <h4>Robatayaki, Tempura counter and Sushi Bar </h4>
      <p>Skewers from the Robatayaki grill using the best fresh produce like Salmon, Lamb Tsukane, Bacon Usunuyaki,
        Asparagus or Zucchini Bocconcini can be made-to-order with a choice of Antikuchu, Apple Tonkatsu or Gochujang Miso
        sauce. Tempura is fried in front of the guests who can choose from a range of options like Lobster, Prawn, Chicken,
        Mushroom, Tomato, Asparagus, Pumpkin and more. Hand-rolled sushi from the Sushi bar brings in a unique interactive
        element to the table that can accommodate 16 guests at a go. The Crispy Rice tuna, chukka wakame, ponzu aioli or the
        Oshitashi avocado, takwan, yuzu mayo, are sublime. </p>
      <h4>Al-fresco dining</h4>
      <p>The Al-fresco dining option gives this restaurant an added edge as diners who look for a more casual yet unique
        setting have a beautiful garden to walk and dine in. Sassy seating and chic outdoor lighting punches a nostalgic
        Joie de vivre that only adds to the experience of dining at Pullman. Al-fresco area at Honk can accommodate up to 28
        alfresco.</p>
      <h4>Ambience and food presentation</h4>
      <p>The entrance to Honk celebrates the Pinjor concept of South East Asian celebrations denoting a festive mood with
        symbolic banana trees and lamps welcoming diners. Bamboo and brass elements with candle lights all across the
        restaurant coupled with dim lighting enkindle a relaxed dining ambience. Emphasis is also laid on the visual
        presentation of food. 55 bcn award-winning and limited-edition crockery is used to serve the appetizers at Honk.
        These take a break from an industrial process where all the pieces are very accurate (in size and shape) to present
        food. Perfect imperfection of platters gives a personalised feeling to the diners. The 'Pure' line of illustrious
        Serax tableware by Pascale Naessens is used for presenting the main course.</p>
      <h4>Chef Govind Kumar Bhusal
        Come, experience South East Asian flavours in all their robustness.
      </h4>
      <h4>Honk Factsheet</h4>
      <p>Seating capacity: <b>122 guests</b> including the Al-Fresco area. <br>
        Meal for two: 4000 + taxes (without alcohol)
      </p>
      <h4>Lunch - Timings: 12.30 - 3:30pm <br>
        Dinner - 6pm to 11.30pm
      </h4>
      <h4>Current promotion - From January 2020 onwards </h4>
      <p>Honk by Pullman, the Pan Asian signature restaurant of the upscale hotel is known to elicit guests in Aerocity with
        street-style cuisine from South East Asia. Honk has recently introduced Honk Yum Cha Weekend lunches which has
        endless servings of 22 varieties of Steamed, Pan fried and baked bundles of joy from HONK. This is in addition to
        their 4 Course Weekday lunches with Chinese, Thai & Japanese variants.</p>
      <p>Guests can relish the unlimited varieties of Honk dim sums, soups, salads, curated meals in a bowl, and homemade
        gelato exclusively available every weekend. Originated in tea houses, dim sums are best complemented with tea.
        Delight your palate with premium Asian teas and beverages like shochu, sake and umeshu. </p>
      <h4>Timings: 12.30 - 3:30pm <br>
        Price: Food & Soft beverage - Rs. 2200 + taxes. <br>
        Food & Alcoholic beverage Rs. 3700 plus taxes.
      </h4>
    </div>
    <hr>
    <div>
      <h3 style="text-align: center;">Meet & Play by Pullman New Delhi Aerocity </h3>
      <p>‘Meet & Play’ by Pullman offers inspired, motivated, connected and engaging experiences that are at the heart of
        corporate life; a reinvention of the traditional meeting space, one that blurs the lines between work and play,
        performance and wellbeing. Located in New Delhi (South West), Pullman New Delhi Aerocity is minutes from Worldmark
        and close to AMBI Mall. This 5-star hotel is within the vicinity of DLF Promenade Vasant Kunj and DLF Cyber City.
      </p>
      <p>Pullman New Delhi Aerocity is a hotel with 270 chic rooms, offering seamless connectivity and an exclusive bedding
        concept. Located in the trendiest location of New Delhi – Aerocity, the hotel offers unparalleled accessibility to
        the business hubs of Gurgaon and New Delhi. The hotel is well positioned to attain a large segment of the
        increasingly important Meetings, Incentives, Conferences and Exhibitions (MICE) market, making it a home to
        Aerocity’s largest convention space spread over a vast expanse of more than 40,000 sqft. </p>
      <p>Pullman itself offers 13 fully equipped meeting rooms and three boardrooms with flexible room layouts, and seamless
        technology that includes iPad and Bose speakers, plug-and-play from laptop and tablet devices onto high-resolution
        ceiling projectors and video conferencing. Web Corner on MAC is a full service business lounge equipped with Apple
        iMacs for comfortable pre or post meetings. </p>
      <p>Recent events that have happened at Pullman New Delhi Aerocity includes; BW Hotelier Indian Hospitality Awards and
        Summit 2019, EEMAX GLOBAL 2019 AWARDS, delWine Excellence Awards, the StreamCon Asia 2019, WOW Awards Asia, 11th
        Indian Sommelier Championship, M P Birla Cement's third National Channel Partners' Conference and similar. </p>
      <p>Pullman believes that guests should be at their personal best wherever they are. To ensure this, the design at any
        Pullman hotel follows behavioural, psychological and technological functions that stimulate the senses. The MICE
        facilities here are in tune and in style with today’s zeitgeist, yet inspired by the Pullman legacy. It is a place
        for guests to feel accomplished and energized; a place where they know, they belong.</p>
    </div>
    <hr>
    <div>
      <ion-thumbnail>
        <img src="../../../../assets/Quoin.jpg" alt="">
      </ion-thumbnail>
      <h3 style="text-align: center;">Quoin</h3>
      <h4 style="text-align: center;">(Modern Sports Bar #AlwaysGameOn)</h4>
      <p>Quoin is a modern sports bar and an urban hangout where you can find distinctive flavours of your favourite brew,
        mood-setting music and fresh locally produced mouth-watering bonne bouche & savouries that come together to provide
        you an experience like no other. At Quoin, guests can enjoy their favourite drinks 24x7. </p>
      <p>With an ‘Always Game On’ philosophy, similar to a signal to play in a sports match, Quoin is always ready to
        entertain the sports lovers by screening their favourite matches. With games like Foosball, Pool, a virtual
        real-life golf simulator and many board games. Guests can undertake many drinking challenges and games at Quoin.</p>
      <p>Golf simulator welcomes all the golf lovers to experience the real golfing at Quoin. They can practise, play and
        train or choose to solo or group golfing while enjoying their favourite food or sipping a drink.</p>
      <p>Quoin is inspired by the concept of Liberty and Leisure. One can sense it in the look and feel of this stylish bar
        which is inspired by the lotus flower with elegant, individual lotus style seating, providing a comfortable and
        spacious lounge and bar for guests to relax and unwind. The soft music playing in the background energizes you and
        is idyllic to the vibe of Quoin and the popular house music sets the tone for the evening. If the guests have a
        quest to star-gaze while sipping on their drinks, Quoin provides an alfresco seating that resonates with our
        philosophy of Liberty and Leisure under the open sky. During the day, sunlight seeps in through the large windows
        that overlook the in house ‘Herb Garden” lending a soft glow and setting the ambience for that afternoon soiree.
      </p>
      <p>At Quoin, the resident mixologist takes form and style to a different plane by serving our guests an extensive
        selection of exciting cocktails, exquisite wines and beverages. Be assured that every drink that is on your table
        has been carefully curated with ‘fresh and local’ produce, such as fruits & herbs and completed with trendy
        garnishing and unique presentation. The focus at Quoin is to cater to the needs of all generations – for youngsters
        there is a wide selection of Tequila, Vodka and Beer while for corporate guests there is an array of single malts
        and wine.</p>
      <p>Not to miss are the Novotel Specials like Bourbon City made with Bourbon Whiskey, Campari and fresh orange juice; a
        cocktail which is designed beautifully from the notes of brunt oranges and maple finish whiskey or Maple Smash made
        with blended whiskey, single malt, fresh ginger & maple syrup, a perfect drink to enjoy with cigars that have the
        mellow taste of maple wood. The Classic Cocktails like Martinis, Daiquiris, Mojitos and more are addressed with
        flair at Quoin. </p>
      <p>The non-alcoholic cocktails selection at Quoin are not left far behind with signatures like Watermelon & Basil
        Thunder made from fresh watermelon chunks, freshly plucked basil leaves and lime juice, a drink that perfectly
        balances the refreshing taste of watermelon with fragrant basil. The Rosemary & Cucumber Lemonade Chiller is a
        refreshing drink with herbaceous notes of rosemary complementing the freshness of cucumber - lemonade, whose taste
        lingers till the end.</p>
      <p>All the short eats and dessert repertoire at Quoin are paired perfectly with the drinks. The menu has a selection
        of reasonably priced light and healthy nibbles which has been curated by Chef Ajay Anand, Director of Culinary. With
        a modern twist to Indian classics that make them stand out as the new age bar snacks are the signature dishes that
        include Murgh Aatish Burra, Chicken Grilled in Tandoor and garnished with Greens & Lemongrass, Galangal Jinga with
        Lime pickle cream and Amchuri dip leave the guests wanting for more. A specially curated sweets section is for those
        who like to have a drink and dessert post dinner. </p>
      <p>Quoin is a perfect place to unwind with your friends. It doesn’t get any better.</p>
      <h4 style="text-align: center;">Celebrate good times. Celebrate you.</h4>
      <p><b>Quoin Factsheet</b><br>
        <b>Seating capacity:</b> 80 guests <br>
        <b>Timings:</b> 24 hours<br>
        <b>Price for Two:</b> 3000 plus taxes
      </p>
      <h4 style="text-align: center;">Current promotions at Quoin </h4>
      <p>Enjoy Winter Grill and Barbeque at 24x7 Sports Bar. A feast full of flavours, grilling has always been considered
        as fun. Relish the appetizing the cookout with your friends or family. What’s a cookout without music, come enjoy
        the hits from your favorite era with live videos on the big screen and savour the grills/ BBQ with salads &
        desserts. Music nights at Quoin are scheduled everyday from Sunday to Saturdays. </p>
      <p>The <b>Winter Barbeque and grill menu at Alfresco with the menu inclusions such as </b>Bockwurst Bratwurst,
        Nürnberger, Frankfurters, Sauerkraut, German potato salad, Sea tiger prawns, Himalayan trout, Red snapper, Sea Bream
        pomfret, Australian free range baby lamb chops, Tenderloin medallion. Those with a sweet tooth can savour delicacies
        such as Baked Brulee, Pineapple Pannacotta, Dark Chocolate mousse & many more. </p>
      <p><b>Date: 4th November <br>
          Time: 7-11pm </b>
      </p>
      <p>Music nights at Quoin are scheduled everyday from Sunday to Saturdays. </p>
    </div>
    <hr>
    <div>
      <ion-thumbnail>
        <img src="../../../../assets/Food Exchange Opt 1.jpg" alt="">
      </ion-thumbnail>
      <h4 style="text-align: center;">Food Exchange</h4>
      <p>Food Exchange is a signature restaurant offering an exceptional culinary experience comprising of Indian, Asian and
        European flavours coupled with an impeccable ambiance. It has a unique & modern take on a “gastro-hub” serving as a
        primary public food & beverage centre of activity of the hotel. Food Exchange offers a casual elegant dining
        experience with a progressive modern approach to traditional Indian cuisine featuring artisanal desserts and
        familiar comfort food, all refined for the modern diner's palate. </p>
      <h4>Food-A-La-Carte</h4>
      <p>The A-La-Carte menu at Food Exchange focuses on Barbeque dainties. Food Exchange has Pizza experts to bring you an
        assortment of Pizzas. One just can’t miss the Classic Bianca Pizza. The hand rolled Wood Fired Pizzas made of
        superior flour and the Rotisserie form the USPs of the restaurant. The Rotisserie is the ultimate destination for
        meat lovers. Every day, we offer a different roasted meat from our butcher counter to either purchase by weight or
        to immediately enjoy on a sandwich. The signatures of the Rotisserie include the Corn fed chicken served with a
        choice of BBQ, homemade mushroom jus and New Zealand herb crusted lamb rack served with rosemary potatoes and
        homemade reduction jus. </p>\
      <h4>Buffet</h4>
      <p>The lavish breakfast, lunch and dinner buffet spreads showcase a different menu for each meal. The USP of the
        buffet at Food Exchange is the choice of cuisines ranging from North Indian, South Indian, Oriental, Italian and
        more. A basket of freshly baked breads and pastries is served with a selection of tea, coffee, homemade jams,
        marmalade and hazelnut chocolate spread for breakfast. There is a special kid’s breakfast designed for our little
        guests. For lunch and dinner buffets, live crepes and waffles and live pasta counter along with the rest of the
        spread cater to needs of every modern traveller and aims to satisfy every palate. The Indian section showcases
        Indian Street Food favourites, kebabs and homemade pickles, murabbas to tantalise your taste buds. An exclusive
        Bakery Island features a vast variety of Indian and European desserts that are as appealing to the eye as to the
        taste buds.<br>The signature dishes at Food Exchange include, Tandoori Bharwa khumb, Pumpkin, Corn & Peanut butter
        Tikki, Lal Maas- diced lamb slow cooked with Indian spices from a village of Rajasthan and Hand rolled zero flour
        Pizza (all the way from Napoli).
      </p>
      <h4>Drinks</h4>
      <p>Cocktails and Mocktails at Food Exchange are made using fresh ingredients, homemade syrups and farm plucked herbs.
        Signature cocktails include Indian Sapores, a cocktail inspired by latin spirit, Indian flavours and aromas. Ananda
        Brew is an amazing creation by itself, from the hand plucked teas from Ananda Region in Assam with the subtle notes
        of Vodka. Signature Mocktails include the flavourful Cucumber & Rosemary Lemonade Chiller, a refreshing slurry
        mixture of cucumber & rosemary puree with fresh lime juice and lychee. The Watermelon & Basil Thunder is a
        watermelon drink with the perfect balance of basil to bring out the best flavours from both the ingredients.</p>
      <h4>Current Promotion</h4>
      <h4>Home Chef Series by Novotel New Delhi Aerocity </h4>
      <p>To acquaint guests with the flavors and culture of the regional food in India, Novotel New Delhi Aerocity has
        introduced a distinct form of promotion for Delhiites. The Home Chef Series focuses on the cooking styles and home
        cuisine of communities in India that has developed through the ages of culinary craftsmanship and preparation. The
        emphasis is on fragrance of spices, freshness, and long-lasting quintessence at this promotion. Each Home Chef
        Series brings a prominent chef from the region to showcase comfort food dishes in a 10 days culinary voyage. </p>
      <p>During these days, Home Chefs unfold rare recipes, unusual spices, piquant flavours and atypical cooking techniques
        that would otherwise never be tasted elsewhere.Further, a tete-a-tete with the home chefs and guests is also
        organized by the 5 star hotel located in Aerocity. </p>
      <p>Till now, Novotel New Delhi Aerocity has hosted three successful editions of the Home Chef Series, starting with
        the Assamese in October last year, followed by Coorg in November. It just concluded the Kashmiri Pandit Cuisine that
        was scheduled from 17th to 26th January, 2020. </p>
      <p>The cuisines cooked by the native culinary artists have gained popularity with resident guests and those in the
        city looking to experiment with something new and authentic from India’s culture and tradition. </p>
      <h4 style="text-align: center;">Celebrate Conversations. Celebrate you.</h4>
      <p><b>Food Exchange Factsheet</b></p>
      <p><b>Seating capacity:</b> 186 guests (Including Alfresco Area) </p>
      <p><b>Timings: 6.30am-11.30pm</b></p>
      <p><b>Meal for two: Lunch - INR 3590 +taxes / Dinner - INR 3990 +taxes (without alcohol)</b>></p>
    </div>
  </div>
</ion-content>
