<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="goTo($event)" color="primary" shape="round" size="small">
      GO TO
    </ion-button>
  </ion-fab>

  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/nourishment"></ion-back-button>
  </ion-buttons>
  <div class="nourishment-section">
    <span class="header-txt" style="font-size: 16px; font-weight: 500;">YOUR GUIDE TO NOURISHMENT</span> <br>
    <span style="font-size: 12px;">Enjoy this introduction to essential vitamins, minerals, fats and
    fibers, as well as a variety of nutritious ingredients to enjoy and savor.</span>
    <br> <br>
    <div class="nourishment-divider"></div>
    <br> <br>
    <div class="nourishment-el">
      <div class="el-category">
        <p><span>VITAMINS</span></p>
      </div>
      <div class="el-description">
        <p>Best sourced through the foods we eat, vitamins are
          the building blocks of a healthy lifestyle.</p>
        
        <div class="el-name-gred">
          <h6>Foods rich in Vitamin B</h6>
          <span>MUSHROOMS | MILK | WHOLE GRAINS PISTACHIO NUTS | SUNFLOWER SEEDS</span>
        </div>
        <div class="el-name-gred">
          <h6>Foods rich in Vitamin C</h6>
          <span>CITRUS | KIWI | STRAWBERRIES MANGOES | PAPAYA BROCCOLI DARK | LEAFY VEGETABLES</span>
        </div>
        <div class="el-name-gred">
          <h6>Foods rich in Vitamins A & D</h6>
          <span>MILK | FISH | EGGS</span>
        </div>
        <div class="el-name-gred">
          <h6>Foods rich in Vitamins E & K</h6>
          <span>WHEAT GERM | SUNFLOWER SEEDS | SOME NUTS
          PEANUT BUTTER | DARK GREEN LEAFY VEGETABLES
          KALE | SPINACH</span>
        </div>
      </div>
    </div>

    <br><br>

    <div class="nourishment-el">
      <div class="el-category">
        <p><span>MINERALS</span></p>
      </div>
      <div class="el-description">
        <p>Minerals keep your bones strong and your body
        balanced.</p>
    
        <div class="el-name-gred">
          <h6>Calcium <span style="font-weight: 400;">is important for strong, healthy bones and
          teeth.</span></h6>
          <span>KALE | YOGURT | BROCCOLI | WATERCRESS CHEESE
          BOK CHOY | OKRA | ALMONDS</span>
        </div>
        <div class="el-name-gred">
          <h6>Potassium <span style="font-weight: 400;">is an electrolyte that regulates the flow
          of nutrients going in and out of cells.</span></h6>
          <span>POTATOES | SUN-DRIED TOMATOES KIDNEY BEANS
          DRIED FRUITS | BANANA AVOCADOS | FIS|</span>
        </div>
        <div class="el-name-gred">
          <h6>Iron <span style="font-weight: 400;">is an essential element for blood production.</span></h6>
          <span>POTATOES | SUN-DRIED TOMATOES KIDNEY BEANS
          DRIED FRUITS | BANANA AVOCADOS | FISH</span>
        </div>
        <div class="el-name-gred">
          <h6>Antioxidants <span style="font-weight: 400;">are beneficial in preventing diseases
          by prohibiting the oxidation of harmful molecules
          in the body.</span></h6>
          <span>EXTRA-VIRGIN OLIVE OIL | GOJI BERRIES WILD BLUEBERRIES
          DARK CHOCOLATE PECANS | ARTICHOKES
          KIDNEY BEANS CRANBERRIES | CLOVE
          CINNAMON | OREGANO | TURMERIC | COCOA
          CUMIN | PARSLEY | BASIL | THYME | WILD HONEY</span>
        </div>
      </div>
    </div>

    <br><br>

    <div class="nourishment-el">
      <div class="el-category">
        <p><span>HEALTHY FATS & FIBER</span></p>
      </div>
      <div class="el-description">
        <p>Healthy fats and fiber stabilize blood sugar and
        cholesterol levels.</p>
    
        <div class="el-name-gred">
          <h6>Fiber <span style="font-weight: 400;">slows the rate that sugar is absorbed into the
          bloodstream, which keeps your blood glucose levels
          from rising too fast.</span></h6>
          <span>PEAS | LENTILS | BEANS | ARTICHOKES BROCCOLI
          BRUSSELS SPROUTS | AVOCADOS | OATS & WHOLE GRAINS</span>
        </div>
        <div class="el-name-gred">
          <h6>Unsaturated fats <span style="font-weight: 400;">ncluding poly - and
          mono-unsaturated fats, have a positive effect on
          cholesterol levels.</span></h6>
          <span>OLIVE OIL | WALNUTS | PINE NUTS | PECANS
          AVOCADOS | PUMPKIN SEEDS | SPIRULINA</span>
        </div>
        <div class="el-name-gred">
          <h6>Omega-3 <span style="font-weight: 400;">atty acids are needed for many
          functions, from building healthy cells to
          maintaining brain and nerve function.</span></h6>
          <span>FLAXSEED OIL | FISH OIL | NUTS & SEEDS | CHIA SEEDS
          SALMON & COLD WATER | FISH SOYBEANS | AVOCADOS
          COOKED SPINACH
          </span>
        </div>
      </div>
    </div>

  </div>
</ion-content>
