<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home"></ion-back-button>
  </ion-buttons>
  <div class="headerConserve">
    <h3 style="color: #fff;">IT IS OUR PRIVILEGE TO CONSERVE</h3>
  </div>
  <div class="bodyContentConserve">
    <div>
      <p style="font-size: 18px;">At JW Marriott, we are committed to conserving water,<br>energy and other resources. We
        invite you to join us in these <br>efforts in our hotels and beyond.</p>
    </div>
    <div>
      <p style="font-size: 18px;"><b>Bed Linens</b><br> It is our practice to refresh bed linens every third day.<br>If
        you wish to have your linens changed more frequently,<br>please place this card on the bed.</p>
    </div>
    <div>
      <p style="font-size: 18px;"><b>Towels</b><br> Our practice is to change towels every day, but we also support our
        guests’ desire.<br>to reduce water, energy and use of cleaning products. Please hang your towels to<br>indicate
        that you wish to reuse them.</p>
    </div>
    <div>
      <p style="font-size: 18px;"><b>Smoke-Free</b><br>We are committed to a smoke—free environment.*</p>
    </div>
    <div>
      <p style="font-size: 18px;"><b>Preservation</b><br>Support Marriott International’s preservation initiatives to help
        sustain the environment—<br>Please visit Marriott.com/socialresponsibility to learn more about our vision for a
        sustainable<br>future through community engagement and environmental responsibility.</p>
      <h5 style="margin-top: 50px;">*A INR 7,500 or more room-recovery fee will be charged for smoking in your guest room.
      </h5>
    </div>
  </div>
  <div class="headerConserve">
    <h3 style="color: #fff;">A MOMENT TO PRESERVE</h3>
  </div>
  <div class="bodyContentConserve">
    <div>
      <p style="font-size: 18px;">When you hang your towels for reuse,
      you help preserve our planet’s natural
      resources. If you desire new towels,
      simply leave used towels on the floor.
      We will be happy to refresh them.</p>
    </div>
  </div>
</ion-content>
