<ion-toolbar>
  <ion-title>
    <img src="../../../assets/Logo_Grey.png" alt="">
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-thumbnail>
        <img src="../../../assets/promotional-banner1.jpg" alt="">
      </ion-thumbnail>
    </ion-slide>
    <ion-slide>
      <ion-thumbnail>
        <img src="../../../assets/promotional-banner2.jpg" alt="">
      </ion-thumbnail>
    </ion-slide>
    <ion-slide>
      <ion-thumbnail>
        <img src="../../../assets/promotional-banner3.jpg" alt="">
      </ion-thumbnail>
    </ion-slide>
    <ion-slide>
      <ion-thumbnail>
        <img src="../../../assets/promotional-banner4.jpg" alt="">
      </ion-thumbnail>
    </ion-slide>
  </ion-slides>
</ion-content>
