<ion-toolbar>
  <ion-title>
    <img src="../../../assets/Logo_Grey.png" alt="">
  </ion-title>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
    <div>
      <p>Dear Guest,</p>
      <p>Welcome to JW Marriott New Delhi.</p>
      <p>Spirit to Serve’ one of Marriott’s core values, focuses on serving our world and community to help in building a
        better tomorrow. As we all stride against the global pandemic, I urge your utmost support and cooperation in
        maintaining the hygiene and upholding all health measures during your stay at the hotel under the COVID -19
        quarantine, as mandated by the Ministry of health and family welfare, Government of India. </p>
      <p>You have to stay in your rooms which are filled with adequate toiletries and other supplies to help you have a
        comfortable stay.</p>
      <p>Please go through the below and adhere to all the points mentioned during your entire stay:- </p>
      <h4>Q1. What all would I get during my stay at the hotel? </h4>
      <p>As you will be a part of the quarantine stay, you will stay in your respective rooms where all necessary
        amenities will be available for you to have a comfortable stay and as a precautionary measure to contain the
        situation and spreading of the COVID-19, the hotel team will not be able to service your room. Hence, you are
        requested to utilize the amenities provided judiciously. </p>
      <p>Your room will have adequate amounts of bed sheet, toiletries, towels (per day), tea and coffee and water for you
        to live comfortably during your stay. </p>
      <h4>Q2. What are the services I can opt for?</h4>
      <p>You may opt for the laundry service at chargeable basis which will be separate from the room rate. As a part of
        the quarantine and in order to contain the situation, we will only be able to extend the laundry service to you
        during your stay.</p>
      <h4>Q3. What about meals and where do we get them? </h4>
      <p>The predefined meal periods are:- </p>
      <p><b>1.Breakfast Thali</b> at 0800 hours <b>2. Lunch</b>at 1230 hours and <b>3. Dinner</b> at 1930 hours </p>
      <p>All meals will be served in the common area on your designated floor. You are strictly advised to come out of
        your room and enter the <b>common room at the specified time only,</b>otherwise our team will not be able to
        deliver the meals for you. </p>
      <p>All meals will be served in the common area of the floor. </p>
      <h4>Q4. Will I be allowed to explore the hotel and eat at the restaurants during my stay? </h4>
      <p>Strictly not. Please note that you are staying at the hotel under the quarantine of COVID-19 and hence we urge
        you maintain the sanity of the procedure and cooperate with us during your entire stay.</p>
      <h4>Q5. What all will be available to me in the room?</h4>
      <p>Linen, pillow cases, water, tea and coffee, toiletries, tissue papers, toilet rolls, garbage bags, cleaning
        supplies, masks, santizers and dusters will be available in your room for a period of 15days. The minibar (without
        liquor) will be a single fill by the hotel and will not be replenished.</p>
      <h4>Q6. Will the hotel team clean our rooms and change the linen on regular basis?</h4>
      <p>Please be informed that as a part of the quarantine, the hotel team will not be servicing or cleaning the rooms.
        We will provide you with bedsheet and dusters for you to maintain your areas while you stay at the hotel. </p>
      <h4>Q7. Is there a place where additional stock will be available? </h4>
      <p>The common room will have additional supplies of bedsheets, towels and other necessary items which you should use
        very judiciously. </p>
      <h4>Q8. What happens to the garbage?</h4>
      <p>You should dispose the garbage in the section provided in the common room for our team to dispose it off on daily
        basis. Also, please ensure that you don’t put any liquid waste in it as it might make the room smell foul. </p>
      <h4>Q9. What if I feel unwell? </h4>
      <p>Please immediately call on the numbers provided to you by the Ministry of health and family welfare.</p>
      <h4>Q10. Who do I reach out to for any further information?</h4>
      <p>Please call ‘At your service’ from your room landline phone.</p>
      <p style="margin-top: 30px;">I urge you to strictly adhere to the procedure of quarantine and cooperate with the
        hotel team while we work towards making your stay comfortable.</p>
      <p style="margin-top: 30px;">Warm Regards </p>
      <h4>Nitesh Gandhi</h4>
      <h4>General Manager</h4>
    </div>
  </div>
</ion-content>
