<!-- <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="dark" defaultHref="/home"></ion-back-button>
  </ion-buttons>
</ion-toolbar> -->

<ion-content>

  <div class="bottom-buttons">
    <div class="place-order-btn ion-padding-horizontal">
      <ion-button (click)="messageOkay()" color="success" mode="md" expand="block" style="text-transform: capitalize;">
        OKAY
      </ion-button>
    </div>
  </div>

  <div class="confirmation-msg ion-padding-horizontal">
    <!-- <ion-icon color="light" style="font-size: 80px;" name="checkmark-done-outline"></ion-icon> -->
    <p class="ion-padding-horizontal">As a safety measure to protect our guests from COVID-19 exposure, we won't be taking your signature on a physical bill
    and will present it during checkout only.</p>
  </div>

  <br>

  <br> <br>
  <!-- <div class="billing-buttons ion-padding-horizontal">
    
  </div> -->
  <br>
</ion-content>