<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/connectivity.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">CONNECTIVITY</h2>
      <h4>ADDRESS</h4>
      <p>Stay in touch with your loved ones. Any mail or parcel, that you may need, may be delivered to the hotel address
        mentioned below and we shall be happy to collect it on your behalf while you stay with us.</p>
      <p>Pullman New Delhi Aerocity Asset No. 02, GMR <br>Hospitatlity District, IGI Airport, New Delhi - 110037, India
        <br>Phone: +91 11 46080808 Fax: +91 11 46080809<br>
        Email: h7559-re@accor.com</p>
    </div>
    <div>
      <h4>CONNECTIVITY LOUNGE</h4>
      <p>Located in the lobby, our connectivity lounge allows our resident guests to access their emails, surf the internet
        and do much more on our Mac computers. This exclusive internet hub is open to all our resident guests 24 hours a
        day.</p>
    </div>
    <div>
      <h4>COURIER/ MAIL SERVICES</h4>
      <p>Should you receive any mail at the hotel address during your stay, this
        will be delivered to your room or kept available at Concierge desk.</p>
      <p>Our Concierge will also be happy to assist you with arranging postage stamps and help you with any item you may
        need to mail or courier. Kindly contact Concierge at 8227 or dial ‘0’.</p>
    </div>
    <div>
      <h4>FAXES</h4>
      <p>Guest may receive Faxes which shall be delivered at your room. Should you wish to send out Faxes, our business
        center will be delightful to make the arrangements for you<br>
        (Charges may apply). Fax Number:
        +91 11 46080809</p>
    </div>
    <div>
      <h4>PHOTOCOPIES & PRINTING</h4>
    </div>
    <p>Should you require photocopy and printing services, please contact the connectivity lounge at the lobby level
      (charges may apply).</p>
  </div>
</ion-content>