<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../assets/meet&play.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>


  <div class="meet-play-wrap-v ion-padding-horizontal">
    <h3>INSPIRING PERSONAL SPACE</h3>
    <p>270 contemporary rooms and suites appointed with modern amenities:</p>
    <ul>
      <li>
        <p>209 Deluxe Rooms</p>
      </li>
      <li>
        <p>42 Executive Rooms</p>
      </li>
      <li>
        <p>17 Suites</p>
      </li>
      <li>
        <p>1 Presidential Suite </p>
      </li>
      <li>
        <p>1 Differently Abled Room</p>
      </li>
    </ul>
    <p>Guestrooms are tastefully appointed keeping in mind the discerning global traveller. Each room is a modern abode with
      seamless connectivity, mini-bar, safety deposit box, wide working desk and three-bay bathroom with bathtub and rain
      shower.</p>
    <h3>ABOUT US</h3>
    <p>Pullman New Delhi Aerocity is a perfect mix of elegance and convenience and it is located at the trendiest new
      destination of the capital - Aerocity. Being in close proximity to the Indira Gandhi International Airport, the
      property is within driving distance from the prominent business hubs of Gurgaon and New Delhi.</p>
    <p>Pullman New Delhi Aerocity is an ideal spot to mix business with some leisure as the hotel brings to you
      state-of-the-art meeting and convention spaces with 13 fully-equipped meeting rooms, 3 boardrooms and one of the
      largest ballroom spaces</p>
    <p>
      Complete with an extensive range of dining options, an energising spa, a fully-equipped health club and an outdoor
      swimming pool and bar, we promises impeccable service and warm hospitality.</p>
    <h3>RELAXATION, WELL-BEING & LEISURE</h3>
    <ul>
      <li>
        <p>Executive lounge</p>
      </li>
      <li>
        <p>Outdoor swimming pool and bar</p>
      </li>
      <li>
        <p>Connectivity lounge</p>
      </li>
      <li>
        <p>Hospitality lounge</p>
      </li>
      <li>
        <p>Fully-equipped health club</p>
      </li>
      <li>
        <p>Chill-out space</p>
      </li>
    </ul>
    <h3>WOO WELLNESS SPA & SALON</h3>
    <p>Offering the most inviting and stress relieving experience to every single visitor, Woo Wellness Spa & Salon is truly
      an experience that woos you. With an outdoor temperature regulated swimming pool and an exclusive Poolside Bar, the
      pool deck with designer furniture from Dedon, provides the perfect setting to unwind and relax.</p>
    <h3>MEETING AND EVENTS</h3>
    <ul>
      <li>
        <p>1,181 sq. m. of pillarless ballroom space </p>
      </li>
      <li>
        <p>Maximum utilisation of floor space </p>
      </li>
      <li>
        <p>Plug & Play from laptop and tablet devices onto high resolution ceiling projectors </p>
      </li>
      <li>
        <p>13 meeting rooms and 3 boardrooms with flexible room layouts</p>
      </li>
      <li>
        <p>Themed coffee break, lunch, dinner and cocktail options</p>
      </li>
      <li>
        <p>High-speed Wi-Fi internet access</p>
      </li>
      <li>
        <p>Large pre-function area measuring 1,651 sq. m.</p>
      </li>
      <li>
        <p>A dedicated IT team to instantly iron out any technical creases</p>
      </li>
    </ul>
    <h3>RESTAURANT AND BAR</h3>
    <ul>
      <li><b>Pluck</b>(Seating Capacity:110) </li>
      <p>A modern eatery, Pluck is an avant garde restaurant serving modern Indian and contemporary European cuisine with an
        in-house farm.</p>
      <li><b>Honk</b> (Seating Capacity:125)<p>A bistro-style specialty restaurant, Honk features a contemporary Asian
          street-style cuisine popular in Asia.</p>
      </li>
      <li><b>Café Pluck</b> (Seating Capacity:48)<p>Café Pluck is a stylish grab and go delicatessen offering an extensive
          range of tea, coffee and other beverages along with freshly baked treats and gourmet retail goods.</p>
      </li>
      <li><b>Pling</b> (Seating Capacity:65)<p>Situated at the lobby level, this luxury lounge bar is a perfect place to
          meet friends and associates alike.</p>
      </li>
      <li><b>Food Exchange</b> (Seating Capacity:198)<p>Signature restaurant with an exceptional culinary experience
          comprising of Indian, Asian and European flavours coupled with an impeccable ambiance.</p>
      </li>
      <li><b>Quoin</b> (Seating Capacity:81) <p> Our 24 hours modern sports bar with distinctive flavours of your favourite
          brew, mood-setting music and mouth-watering food</p>
      </li>
    </ul>
    <h3>CAPACITY CHART</h3>
    <table id="rooms">
      <tr>
        <th></th>
        <th>Length<br>(ft/mt)</th>
        <th>width<br>(ft/mt)</th>
        <th>Height<br>(ft/mt)</th>
        <th>Area<br>(sqft/sqmt)</th>
        <th>Project<br>Lumen</th>
        <th>Screen<br>size</th>
      </tr>
      <tr>
        <td>Peacock Ball Room</td>
        <td>161(49)</td>
        <td>79(24)</td>
        <td>22(6.7)</td>
        <td>12719(1181)</td>
        <td>10000</td>
        <td>23ft X 17ft</td>
      </tr>
      <tr>
        <td>Peacock Ball Room 1</td>
        <td>55(16.7)</td>
        <td>79(24)</td>
        <td>22(6.7)</td>
        <td>4345(403)</td>
        <td>10000</td>
        <td>23ft X 15ft/23ft X 17ft </td>
      </tr>
      <tr>
        <td>Peacock Ball Room 2</td>
        <td>54(16.7)</td>
        <td>79(24)</td>
        <td>22(6.7)</td>
        <td>4266(396)</td>
        <td>7000</td>
        <td>23ft X 17ft</td>
      </tr>
      <tr>
        <td>Peacock Ball Room 3</td>
        <td>52(15.8)</td>
        <td>79(24)</td>
        <td>22(6.7)</td>
        <td>4108(396)</td>
        <td>7000</td>
        <td>23ft X 15ft</td>
      </tr>
      <tr>
        <td>Comeeting 1</td>
        <td>46(14)</td>
        <td>34(10)</td>
        <td>12(3.6)</td>
        <td>1572(146)</td>
        <td>4000</td>
        <td>12ft X 9ft</td>
      </tr>
      <tr>
        <td>Comeeting 2</td>
        <td>47(14)</td>
        <td>22(6.7)</td>
        <td>12(3.6)</td>
        <td>1033(96)</td>
        <td>4000</td>
        <td>12ft X 9ft</td>
      </tr>
    </table>  
  </div>

  <br> <br>
</ion-content>
