<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="exploreMenu($event)" color="primary" size="small" shape="round">MENU</ion-button>
  </ion-fab>

  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/spa"></ion-back-button>
  </ion-buttons>
  <ion-row style="margin-bottom: 10px; padding: 0px 8px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px; box-shadow: 0px 0px 3px #ccc;" src="../../../../../assets/spa-banner1.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <p class="ion-text-center">
      Quan is an experience that embraces one of
      nature's purest restorative elements: spring
      water. We- believe in the balance between the
      nurturing power of water and the natural world
      it nourishes, granting the opportunity for complete
      release and mindful growth. Our treatments
      provide a transformative experience that restores
      through the tranquility and purity of water.
    </p>
  </ion-row>

  <ion-row style="margin-bottom: 10px; padding: 0px 8px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px; box-shadow: 0px 0px 3px #ccc;" src="../../../../../assets/spa-banner2.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="spa-section ion-padding-horizontal" id="quan-sign">
    <h4>QUAN SIGNATURES</h4>
    <div class="spa-divider"></div>
    <p>Quan Signatures are our indulgent
    treatments and packages that give you a
    unique experience, including a selection
    with local 'air that are exclusive to this
    Quan location.</p>

    <div class="spa-items">
      <span style="font-weight: 500; color: #636362; font-size: 16px;">ULTIMATE AROMATHERAPY EXPERIENCE</span> <br>
      <span style="font-weight: 500; color: #636362; font-size: 14px;">60 / 90 MINUTES</span>
      <p style="font-size: 14px; margin-top: 7px;">
        This treatment releases tension held in every
        part of the body that makes you deeply relaxed
        and recharged. <br>
        Car Willy applied pressure stimulates the
        nervous system by Swedish and neuromuscular techniques that relieve muscular tension.
        lymphatic drainage encourages healthy
        circulation and the stress and strain are
        dissolved.
      </p>
    </div>
    <div class="spa-items">
      <span style="font-weight: 500; color: #636362; font-size: 16px;">INTENSIVE DEEP ISSUE</span> <br>
      <span style="font-weight: 500; color: #636362; font-size: 14px;">60 / 90 MINUTES</span>
      <p style="font-size: 14px; margin-top: 7px;">
        An intensive massage that works deep into stiff
        tight and aching muscles to instantly release
        pain and tension.
      </p>
    </div>
    <div class="spa-items">
      <span style="font-weight: 500; color: #636362; font-size: 16px;">ABHYANGA SPICE BUNDLE MASSAGE</span> <br>
      <span style="font-weight: 500; color: #636362; font-size: 14px;">75 MINUTES</span>
      <p style="font-size: 14px; margin-top: 7px;">
        A special type ofAyurvedic Marma massage using relaxing herbal oils which help to
        stimulate the Marma points of the body with Spice Bundle treatment for the stress points of the body to relieve stiffness and pain. The
        treatment is very effective in combating stress
        and relaxing the body followed by a steam bath.
      </p>
    </div>
  </div>

  <br>

  <div class="spa-section ion-padding-horizontal" id="indian-trade">
    <h4>INDIAN TRADITIONAL TREATMENT</h4>
    <div class="spa-divider"></div>
    <br>
    <div class="spa-items">
      <span style="font-weight: 500; color: #636362; font-size: 16px;">ABHYANGA</span> <br>
      <span style="font-weight: 500; color: #636362; font-size: 14px;">60 / 90 MINUTES</span>
      <p style="font-size: 14px; margin-top: 7px;">
        Traditional Ayurveda massage to the whole
        body is done with highly specialized medicated
        oils, carefully chosen as per your body type and
        health concerns. This is followed by medicated
        herbal steam which opens your pores.
      </p>
    </div>
    <div class="spa-items">
      <span style="font-weight: 500; color: #636362; font-size: 16px;">SHIRODHARA</span> <br>
      <span style="font-weight: 500; color: #636362; font-size: 14px;">60 MINUTES</span>
      <p style="font-size: 14px; margin-top: 7px;">
        ACustomarily used to treat stress-related
        disorders, Shirodhara is the method of pouring
        warm medicated oil onto the forehead. This is
        said to open the third eye to absorb cosmic
        energy On a physical level, it is said to aid the
        healing of headaches, migraine, insomnia &
        sinusitis leaving you relaxed.
      </p>
    </div>
    <div class="spa-items">
      <span style="font-weight: 500; color: #636362; font-size: 16px;">SHIROABHYANGAM</span> <br>
      <span style="font-weight: 500; color: #636362; font-size: 14px;">30 MINUTES</span>
      <p style="font-size: 14px; margin-top: 7px;">
        This massage is used as a quick stress reliever
        in India and the trigger points on the head are
        stimulated to induce relaxation. The finest
        Ksheerabala oil is used in this treatment.
      </p>
    </div>
  </div>
</ion-content>
