<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/irs"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-thumbnail>
      <img src="../../../../../assets/tv-remote.png" alt="">
    </ion-thumbnail>
  </ion-row>

</ion-content>