<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/transportation.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">TRANSPORTATION</h2>
      <h4>ACCESS</h4>
      <p>Airports:
        Indira Gandhi International Airport Terminal 3 (3 km) Domestic Airport Terminal 1D
        (3 km)<br>Buses: ISBT Kashmere Gate (26 Km, 30 minutes by metro)<br>Delhi Metro: Aerocity, Delhi
        (less than 01 Km - 10 minute walk)<br>Railway Stations: New Delhi Railway Station
        (20 Km, 20 min - by Metro)<br>Old Delhi Railway Station: (21 Km, 30 min - by Metro)<br>Delhi Cantonment Railway
        Station: (11 Km, 25 min by Car)<br>Hazrat Nizzamudin Railway Station:
        (22 Km, 60 min by Car)</p>
    </div>
    <div>
      <h4>AIRLINES</h4>
      <p>For online ticket reservations, amendments or confirmations or any airline related queries please call our
        Concierge at 8227 or dial ‘0’.</p>
    </div>
    <div>
      <h4>CAR RENTAL</h4>
      <p>Concierge services are available round the clock and shall be available for any transport related information and
        reservations.<br>Transportation charges will vary as per the distance or time the car is required for. Please
        contact the Concierge for further information at 8227 or dial ‘0’.</p>
    </div>
    <div>
      <h4>LIMOUSINE</h4>
      <p>Concierge will be glad to arrange all your transportation requirements. Kindly make prior booking by dialing 8227.
      </p>
    </div>
  </div>
</ion-content>