<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/spa"></ion-back-button>
  </ion-buttons>
  <div class="spa-etiq-wrap ion-padding-horizontal">
    <h5 class="italic-txt">The Quan Spa team is delighted to recommend you the best treatments smiled for your body and skin condition</h5>
    <span class="italic-txt">Quan Spa at JW Marriott New Delhi caters to hotel guests, spa members and day spa guests.</span>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">SPECIAL CONCERN</span> <br>
      <span class="italic-txt">Your personal needs are important to us. We kindly request that at the time of reservation, please inform our Spa staff
      of any special needs or specific medical conditions such as pregnancy or product sensitivity.</span>
    </div>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">AGE RESTRICTION</span> <br>
      <span class="italic-txt">Spa guests must be at least 16 years of age to be able to use the fitness, locker, Swimming pool and facilitie.</span>
    </div>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">RESERVATIONS</span> <br>
      <span class="italic-txt">We encourage guests to schedule spa appointments in advance to ensure treatment and technician preferences are
      available. Same-day reservations and walk-in appointments are always welcome, based upon availability.</span>
    </div>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">CANCELLATION POLICY</span> <br>
      <span class="italic-txt">We value your business and appreciate your cooperation with the spa cancellation policy. Should you wish to cancel or
      reschedule your spa appointment, kindly provide us o3 hours' notice, ifyou are unable to let us know in advance, a so%
      cancellation fee will be applied.</span>
    </div>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">LATE ARRIVAL</span> <br>
      <span class="italic-txt">Arriving late fora scheduled spa treatment may require the Spa to abbreviate the service duration, withfull charges
      applied, so as not to cause any inconvenience other guests.</span>
    </div>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">ARRIVAL AND CHECK IN PROCEDURES</span> <br>
      <span class="italic-txt">For all massage, body, and facial services we require that you arrive at least 3o minutes prior to your scheduled
      appointment time. This will allow you ample time to be acquainted with our Spa as well as to enjoy the facilities such
      as the steam room, Sauna, chill shower and Jacuzzi.</span>
    </div>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">ATTIRE</span> <br>
      <span class="italic-txt">Guests will be provided with disposable undergarments. You are required to wear the same. Our therapists will always use
      draping techniques to respect your privacy.</span>
    </div>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">MOBILE PHONE USAGE</span> <br>
      <span class="italic-txt">For the courtesy of all guests, we kindly request that all calls are concluded and cellular devices are on silent mode
      prior to entering the locker room and treatment areas.</span>
    </div>

    <div class="title-desc">
      <span style="font-size: 16px; font-weight: 500;">HOURS OF OPERATION</span> <br>
      <span class="italic-txt">Spa Reservations Office - 24 hours</span> <br>
      <span class="italic-txt">Spa Treatments — 24 hours</span> <br>
      <span class="italic-txt">Spa Locker Areas -6.00am — 00:00am (Mid night)</span>
    </div>
  </div>
</ion-content>
