<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home"></ion-back-button>
  </ion-buttons>

  <div class="header">
    <h3 class="headerText">INTERNET ACCESS</h3>
  </div>
  <div class="bodyContent">
    <h3>Internet - Wired for Business</h3>
    <p>Work seamlessly with state-of-the-art connectivity with our</p>
    <p>Wired-for-Business® packages. Connect to in-room, high-speed</p>
    <p>internet access, that is up to 50 times faster than dial-up.</p>
    <h3>Wired Access</h3>
    <p>1. Plug Ethernet cable into laptop.</p>
    <p>2. Turn on laptop.</p>
    <p>3. Launch internet browser.</p>
    <h3>Wireless Access</h3>
    <p>1. Ensure you have a Wi-Fi compliant laptop.</p>
    <p>2. Open wireless network connection.</p>
    <p>3. Select hotel's wireless network.</p>
    <p>4. Launch internet browser.</p>
    <h4>Please contact the AYS for assistance.</h4>
    
  </div>
  <div class="header">
    <h3 class="headerText"> CONNECTIVITY PANEL</h3>
  </div>
  <div class="bodyContent">
    <h3 class="connectivityHeading"> DESIGNED FOR PERFORMANCE AND TRANQUILLITY, <span class="connectSpan">our guest room
        anticipate your connectivity needs with an innovative plug-in panel,
        which allows you to enjoy technology, perfectly orchestrated to
        suit your needs.</span> </h3>
    <div style="margin-top: 40px;">
      <h3>Use this innovative tool to:</h3>
      <p> Project your laptop onto the TV screen.</p>
      <p>Connect USB drive.</p>
      <p>Connect your DVD player, gaming system, camcorder or digital camera.</p>
    </div>
    <div style="margin-top: 40px;">
      <p>1. Turn on the TV</p>
      <p>2. Connect your laptop to the panel using the supplied cables.</p>
      <p>3. You may connect your DVD-Player, Camcorder or digital camera.</p>
      <p>4. Change your computer settings to enable an external monitor.</p>
      <h4>Please contact the AYS for assistance.</h4>
      <P>© 2018 Marriott International, Inc.</P>
    </div>
  </div>
</ion-content>