<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/Pullman - Room Directory-07.jpg" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h3 style="text-align: center;">F&B - BREAKFAST</h3>
      <p>Enjoy our extensive spread of buffet breakfast with irresistible specialties from around the world. Drop in at
        Pluck, located at the Lobby Level, from 0630 hrs to 1030 hrs on weekdays and from 0630 hrs to 1100 hrs on weekends
      </p>
      <p>A coffee break “wake up coffee” is at your disposal in the lobby every morning from 0430 hrs to 0630 hrs.</p>
      <p>If you choose to stay in the comfort of your room, our In room dining menu has a wide selection that will please
        every palate. Please fill up the breakfast order card and hang it outside your door. You may order breakfast in your
        room anytime from midnight to noon.</p>
    </div>
    <div>
      <h3 style="text-align: center;">RESTAURANTS & BARS</h3>
      <h4>PLING</h4>
      <p>Pling is an elegant and tranquil lounge-bar. Pling is inspired by the sound of ice dropping in a glass of liquid
        and connotes good times and shared laughter. The place offers a high-end lounge bar experience with exclusive club
        style services and showcases the signature ‘Vinoteca by Pullman’ which offers an international wine selection by the
        glass or bottle.</p>
      <p>At Vinoteca by Pullman, a minimum selection of ten wines is served by the glass and a minimum of two champagnes
        served by the glass. The selection changes regularly to vary the offering as Pullman encourages guests to try a
        variety of wines. The elegantly designed aesthetics of the bar accompanied with the sumptuous selection of
        hors-d'oeu- vres and tapas, makes it a perfect place to meet friends and associ- ates alike. The bar serves both
        national and international brands.</p>
      <p>Located at lobby level,<br> direct extension 8057</p>
      <p>Operating hours: 1100 hrs to 0030 hrs</p>
    </div>
    <div>
      <h4>PLUCK</h4>
      <p>Pluck is a modern-day eatery at the lobby level that serves Modern European and Contemporary Indian flavours. Pluck
        is committed to offering the freshest and safest ingredients in a seasonal menu, that is locally focused and
        globally artistic in cultivating a healthy relationship on the table. The classy European interiors with a subtle
        colour scheme provide an elegant appeal to the restaurant. With an in-house farm of 5000 sq.ft., our chefs pluck the
        freshest ingredients for the meal and the result can be felt in every bite.</p>
      <p>Located at lobby level, direct extension 8051</p>
      <p>Operating hours:<br>Breakfast: 0630 hrs to 1030 hrs till (1100 hrs on weekends)</p>
      <p>Lunch:<br>
        1230 hrs to 1500 hrs</p>
      <p>Dinner:<br>
        1800 hrs to 2330 hrs</p>
      <p>Sunday Brunch:<br> 1230 hrs to 1530 hrs</p>
    </div>
    <div>
      <h4>TEA DELI</h4>
      <p>Tea Deli at the lobby level empha- sizes in enhancing the tea experi- ence of guests. At Tea Deli, we encourage our
        guests to hone their palates and savour the nuances and subtleties that each tea blend has to present.</p>
      <p>Tea Deli offers our guests a complete tea tasting experience while explaining the details of tea making at the Tea
        Wall which is located at the entrance of Pluck, displaying a selection of different blends of finest Indian and
        Interna- tional teas.</p>
    </div>
    <div>
      <h4>CAFÉ PLUCK</h4>
      <p>Café Pluck is a contemporary and stylish grab and go delicatessen. It offers an extensive range of tea, coffee and
        other beverages along with freshly baked treats and gourmet retail goods. The cafe also has its own in-house coffee
        roaster which makes it a perfect new spot to grab a cup of freshly brewed coffee even at midnight. One can also
        choose what to eat from our multi cuisine menu. The elegant urban setting, free Internet access and convenient
        location next to the Airport makes it a favorite meeting place in the city. Another highlight of the café is the
        Maître de Café or the Barista who can teach the art of coffee making to the guests.</p>
      <p>Located at lower ground level, direct extension 8409</p>
      <p>Operating hours: Round the clock</p>
    </div>
    <div>
      <h4>HONK / CLUB HONK</h4>
      <p>Honk is a bistro-style specialty restaurant featuring contemporary Pan Asian à la carte and set menu. Serving smart
        street food is the motto of Honk. While the food takes inspiration from the street-style cuisine popular in Asia,
        the presentation and décor is distinctly natural. Honk is a Pan asian restaurant offering food from diverse regions
        of Asia, primarily Chinese, Japanese and Thai with a bit of Singaporean & Indonesian which will give you glimpse of
        amazing flavours of the region. Honk showcases itself into a newfangled avatar as it turns into ‘Club Honk by
        Pullman’ post 11:30 pm. Club Honk by Pullman brings to its patrons upbeat nights every Friday and Saturday to
        unwind. Guests can choose to dine inside or at alfresco area.</p>
      <p>Located at lower ground level, direct extension 8402.</p>
      <p>Operating hours: <br>Sunday to Thursday 1800 hrs to 2330 hrs</p>
      <p>Friday and Saturday 1800 hrs to 0400 hrs</p>
    </div>
    <div>
      <h4>IN ROOM DINING</h4>
      <p>For privacy, you can always dine in the luxury of your room with our round the clock In room dining. Choose from a
        wide selection of food and beverages listed in our exclusive In room dining menu. To place your order, just dial
        Room Service or dial ‘0’.</p>
    </div>
    <div>
      <h4>QUOIN</h4>
      <p>Quoin is a 24 hours modern sports bar where you can find distinctive flavours of your favourite brew, mood-setting
        music and fresh locally produced mouth-watering food. Guests can enjoy their favourite drinks round the clock. With
        an ‘Always Game On’ philosophy, similar to a signal to play in a sports match, Quoin is ready to entertain the
        sports lovers by screening their favourite matches. One of the highlights of Quoin is Golf simulator which welcomes
        all the golf lovers to experience the feel of real golfing. One can enjoy golf solo or in a group while enjoying
        your favourite food and drinks. Special packages can be bought during the day time with free WiFi and unlimited
        refills of coffee/tea, guests can choose to sit inside or at the alfresco area.</p>
      <p>Located at lobby level,<br> direct extension 8209</p>
      <p>Operating hours: Round the clock</p>
    </div>
    <div>
      <h4>FOOD EXCHANGE</h4>
      <p>Food Exchange is a signature restaurant at Novotel New Delhi Aerocity offering an exceptional culinary experience
        comprising of Indian, Asian and European flavours coupled with an impecca- ble ambiance. It has a unique & modern
        take on a “gastro-hub” serving as a primary public food & beverage centre of all the activities It offers a casual
        elegant dining experience with a progressive modern approach to traditional Indian cuisine featuring artisanal
        desserts and familiar comfort food, all refined for the modern diner's palate. There is an option to go for ala
        carte or buffet menu. The lavish breakfast, lunch and dinner buffet spread showcases a differ- ent menu for each
        meal. Guests can choose to dine inside or at alfresco area.</p>
      <p>Located at lobby level, direct extension 8210</p>
      <p>Operating hours (Weekdays): Breakfast: 0630 hrs to 1030 hrs Lunch:1200 hrs to 1500 hrs Dinner: 1900 hrs to 2330 hrs
      </p>
      <p>Operating hours (Weekend): Breakfast: 0630 hrs to 1100 hrs Lunch:1230 hrs to 1530 hrs Dinner: 1900 hrs to 2330 hrs
      </p>
    </div>
    <div>
      <h4>BY THE POOL</h4>
      <p>
        ‘By The Pool’ is a trendy and elegant bar located at the poolside. The bar offers an incred- ible experience to the
        guests who wish to sit by the poolside and relish some refreshing drinks & concoctions, curated by our expert
        mixologists. The pool bar with an easy-going and informal essence makes it a popular choice amongst our guests. The
        casual ambiance of the pool bar is best suited for a relaxed time. Television screen along the poolside is a perfect
        option to enjoy your favourite game of cricket, football and other sports.The menu also has a selection of
        reasonably priced drinks and snacks.</p>
      <p>Located at second floor<br>
        Operating hours:<br>
        Daily: 1100 hrs to 2000 hrs</p>
    </div>
  </div>
</ion-content>
