<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <div class="container">
    <h3 style="text-align: center;">YOUR STAY AT JW MARRIOTT NEW DELHI AEROCITY</h3>
    <p style="text-align: center;">We invite you to savor every minute of your experience. If we can assist you in any
      way, please contact the Front Desk.</p>
    <div  >
      <h4 style="text-align: center;">HIGHLIGHTS</h4>
      <ul>
        <li>
          <p>JW Marriott New Delhi Aerocity is an epitome of understated elegance and warm ambience.</p>
        </li>
        <li>
          <p>One could not expect to conduct business in a more luxurious setting than what we have to offer here.</p>
        </li>
        <li>
          <p>Strategically connected property with 511 luxurious rooms and suites.</p>
        </li>
        <li>
          <p>International dining experiences.</p>
        </li>
        <li>
          <p>30,000 sq. ft. of flexible convention space.</p>
        </li>
        <li>
          <p>24 hours Quan Spa, Fitness Centre and Swimming Pool.</p>
        </li>
        <li>
          <p>In close proximity to business hubs of Gurugram, New Delhi, Vasant Kunj, Cyber City, Worldmark Aerocity and
            Embassies.</p>
        </li>
        <li>
          <p>Plush fleet of BMW cars.</p>
        </li>
      </ul>
    </div>
    <div  >
      <h4 style="text-align: center;">QUAN SPA</h4>
      <p>Quan spa offers a range of holistic treatments and therapies that provide Mutant relaxation to soothe your mind,
        body and soul. Step back, breathe and find time to reflect on what really matters, You.</p>
      <ul style="margin-top: 10px;">
        <li>
          <p>A total of 6 therapy suites including an Ayurvedic and couple treatment suite</p>
        </li>
        <li>
          <p>Award winning 24 Hours spa</p>
        </li>
        <li>
          <p>An exclusive bath therapy suite with heated Jacuzzi</p>
        </li>
        <li>
          <p>Foot and nail spa and relaxation rooms</p>
        </li>
        <li>
          <p>Steam and sauna</p>
        </li>
        <li>
          <p>Ladies & Gentlemen wet sections</p>
        </li>
        <li>
          <p>Ultimate signature luxury treatments</p>
        </li>
      </ul>
      <p>Located on the level 2,<br>Hours: 24 Hours, 7 days a week</p>
      <p>Prior reservations are recommended.<br> Phone: +9111 4521 2121, ext. 2195</p>
    </div>
    <div  >
      <h4 style="text-align: center;">QJW FITNESS</h4>
      <p>After a day of meetings, unwind with a full range of wellness options. Our JW Fitness Centre & Swimming Pool
        provide health and fitness facilities for busy professionals.</p>
      <ul style="margin-top: 10px;">
        <li>
          <p>24 hour fully equipped fitness centre</p>
        </li>
        <li>
          <p>Outdoor heated swimming pool</p>
        </li>
        <li>
          <p>Kids pool area</p>
        </li>
        <p>
          <li>Indoor heated Jacuzzi</li>
        </p>
        <p>
          <li>Personal trainer and exclusive fitness classes</li>
        </p>
        <p>
          <li>Daily yoga session by trained professionals at the pool deck</li>
        </p>
        <p>
          <li>Pool bar</li>
        </p>
      </ul>
      <p>Located on the level 2,<br>Fitness Centre: 24 Hours<br> Swimming Pool: 6 am - 9 pm <br>Salon: 9 am - 9pm<br>
        Ladies & Gentlemen Changing Room: 24 Hours <br>Steam and Sauna: 6 am -12 am </p>
      <p style="margin-top: 10px;">Prior reservations are recommended.<br> Phone: +9111 4521 2121, ext. 2195</p>
    </div>
    <div  >
      <h3 style="text-align: center;">RESTAURANTS</h3>
      <hr>
      <h4>K3 Restaurant</h4>
      <p>New Delhi's popular food theatre with 3 live kitchens serving - Tuscan, Cantonese and North Indian cuisines.</p>
      <p>City's best Sunday Brunch,</p>
      <p>Lobby Level I 24 hrs.</p>
      <p>Tel: +9111 4521 2120</p>
    </div>
    <div  >
      <h3 style="text-align: center;">Playground</h3>
      <p>Speakeasy, Social Lounge, Street Art,<br>Food Truck, High energy music, 6pm to 4am.</p>
      <p>Watch Live Sports Screening.<br> Enjoy over 40 brands of Beer.</p>
      <p>Lobby Level 11800 hrs. - 0400 hrs. </p>
      <p>Tel: +9111 4521 2115</p>
    </div>
    <div  >
      <h3 style="text-align: center;">Delhi Baking Company</h3>
      <p>Grab-and-go gourmet favorites, baked goodies and La Marzocco coffee.</p>
      <p style="margin-top: 15px;">Enjoy our Signature Dessert DBC Grand Maple Toast.</p>
      <p>Lobby Level I 0700 hrs. - 2200 hrs. </p>
      <p>Tel: +9111 4521 2127</p>
    </div>
    <div  >
      <h3 style="text-align: center;">JW Lounge</h3>
      <p>A marvel of architectural splendor with outdoor cabanas and an exciting choice of food and beverage to choose
        from.</p>
      <p>Experience an Invigorating Evening at JW Lounge.</p>
      <p>Lobby Level I 0900 hrs. - 0100 hrs. </p>
      <p>Tel: +9111 4521 2220</p>
    </div>
    <div  >
      <h3 style="text-align: center;">CONCIERGE</h3>
      <hr>
      <ul>
        <li>
          <p>Local Attractions</p>
        </li>
        <li>
          <p>Transportation Arrangements</p>
        </li>
        <li>
          <p>Florist</p>
        </li>
        <li>
          <p>Creche facilities</p>
        </li>
        <li>
          <p>Theatre tickets</p>
        </li>
        <li>
          <p>Out-station tours</p>
        </li>
        <li>
          <p>Doctor on call</p>
        </li>
      </ul>
    </div>
    <div  >
      <h3 style="text-align: center;">CU R AT ED BY JW</h3>
      <p>Featuring our iconic JW Marriott bed, luxurious linens, pillow collection, bath accessories and home furnishings,
        Curated by JW invites you to add a touch of extravagance as daily routine.</p>
      <p>To experience JW at home, visit </p>
      <a href="#">curatedbyjw.com</a>
    </div>
  </div>
</ion-content>
