<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/irs"></ion-back-button>
  </ion-buttons>

  <ion-list>
    <ion-list-header>
      <h2 style="color: #757545;">Sustainability-Planet21</h2>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let item of planet21List" (ionChange)="planet21Change(item)">
      <ion-label>{{item.name}}</ion-label>
      <ion-toggle mode="ios" [(ngModel)]="item.isEnabled"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../../assets/Accor_Bed Linen_Reusage-1.png" alt="">
      </ion-thumbnail>
    </ion-col>
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../../assets/Accor_Plant_for_the_Planet-2.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  

  <!-- <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../../assets/linen-bed.jpg" alt="">
      </ion-thumbnail>

      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse delectus repudiandae veniam, similique explicabo,
          et aliquid ad quidem voluptas sint temporibus maxime consectetur.</p>
      </div>
      <div class="action">
        <ion-button (click)="changeLinen()" style="text-transform: none;" fill="outline" color="primary">Change bed linen</ion-button>
      </div>
    </ion-col>
  </ion-row>


  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../../assets/towel.jpg" alt="">
      </ion-thumbnail>
  
      <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse delectus repudiandae veniam, similique
          explicabo,
          et aliquid ad quidem voluptas sint temporibus maxime consectetur.</p>
      </div>
      <div class="action">
        <ion-button style="text-transform: none;" (click)="changeTowels()" fill="outline" color="primary">Change towels</ion-button>
      </div>
    </ion-col>
  </ion-row> -->
</ion-content>
