.content-padding {
  padding: 0px 12px;
}

.service-wrap {
  width: 170px;
  height: 170px;
  position: relative;

  ion-thumbnail {
    width: 170px;
    height: 170px;
  }

  .thumbnail-text {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 13px;
  }
}

.service-hr {
  position: relative;

  ion-thumbnail {
    width: 100%;
    height: 144px;

    img {
      border-radius: 8px;
    }
  }

  .service-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    opacity: 0.9;
  }

  .service-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 0px 15px;
    color: #fff;

    h6 {
      text-transform: uppercase;
    }

    p {
      margin-top: -10px;
      font-size: 15px;
    }
  }
}