<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <div class="container">
    <div>
      <h3 style="text-align: center;">HOTEL SERVICES</h3>
      <hr>
      <ul>
        <li>
          <p>Baggage Service/ Storage</p>
        </li>
        <li>
          <p>Cashier</p>
        </li>
        <li>
          <p>Cribs/ Rollaway Beds</p>
        </li>
        <li>
          <p>Courier Facilities</p>
        </li>
        <li>
          <p>Car Rental Facilities</p>
        </li>
        <li>
          <p>Medical Assistance</p>
        </li>
        <li>
          <p>Safe-deposit Boxes</p>
        </li>
        <li>
          <p>Services for People with Disabilities</p>
        </li>
        <li>
          <p>Wake-up call</p>
        </li>
        <li>
          <p>Valet laundry</p>
        </li>
        <li>
          <p>Connecting Rooms</p>
        </li>
        <li>
          <p>Smoking and non-smoking rooms</p>
        </li>
        <li>
          <p>Boarding Pass Machine</p>
        </li>
      </ul>
    </div>
    <div>
      <h3 style="text-align: center;">INTERNET & PHONE</h3>
      <hr>
      <ul>
        <li>
          <p>Wireless and Wired internet access</p>
        </li>
        <li>
          <p>2 line phone</p>
        </li>
        <li>
          <p>Data-port</p>
        </li>
        <li>
          <p>Voice mail</p>
        </li>
      </ul>
    </div>
    <div>
      <h3 style="text-align: center;">RETAIL</h3>
      <hr>
      <h4>Delhi Baking Company</h4>
      <p>Grab-and-go gourmet favorites, baked goodies <br>and La Marzocco coffee.</p>
    </div>
    <div>
      <h3 style="text-align: center;">PARKING</h3>
      <hr>
      <p>Parking service is Complementary.</p>
    </div>
    <div>
      <h3 style="text-align: center;">MOVIES, TV & RADIO</h3>
      <hr>
      <ul>
        <li>
          <p>Wide Range of TV and Cable stations</p>
        </li>
        <li>
          <p>iHome enabled Bluetooth connectivity</p>
        </li>
        <li>
          <p>Connectivity panel with split-screen <br> technology</p>
        </li>
      </ul>
    </div>
    <div>
      <h3 style="text-align: center;">MOVIES, TV & RADIO</h3>
      <hr>
      <ul>
        <li>
          <p>The hotel offers 30,000 sq. ft. of convention and meeting space with 13 meeting rooms, one of the largest
            ballroom spaces in the city (11,868 sq. ft.) and Green Meetings solutions. The large pre-function areas (6,015
            sq. ft.), a dedicated entrance to the Convention Centre, an array of food & beverage options and a
            professional events team will ensure we meet and exceed your requirement.</p>
        </li>
        <li>
          <p>Pillar-less ballroom and meeting rooms with built in state-of-the-art technology.</p>
        </li>
        <li>
          <p>Authentic & crafted menus</p>
        </li>
      </ul>
    </div>
    <div>
      <h3 style="text-align: center;">BUSINESS SERVICES</h3>
      <hr>
      <ul>
        <li>
          <p>Digital photocopying & laser printing</p>
        </li>
        <li>
          <p>Digital color photocopying & laser printing</p>
        </li>
        <li>
          <p>Large format color printing</p>
        </li>
        <li>
          <p>High-speed internet access</p>
        </li>
        <li>
          <p>PC computer workstations with Microsoft Office</p>
        </li>
        <li>
          <p>High speed faxing, domestic and international</p>
        </li>
        <li>
          <p>Table name cards</p>
        </li>
        <li>
          <p>Office supplies</p>
        </li>
        <li>
          <p>Shipping & shipping supplies</p>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
