<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
</ion-toolbar>


<ion-content>
  <ion-fab slot="fixed" vertical="bottom">
    <ion-row>
      <ion-col size="4">
        <ion-button (click)="dismissCart()" color="light" mode="md" expand="block" style="text-transform: capitalize;">
          <ion-icon size="small" slot="start" name="chevron-back-outline"></ion-icon>
          Back
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-button (click)="placedOrder()" color="success" mode="md" expand="block" style="text-transform: capitalize;">
          <ion-icon size="small" slot="end" name="caret-forward-outline"></ion-icon>
          Place Request
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-fab>
  
  <h3 class="ion-padding-horizontal">Schedule Laundry Pickup</h3>
  
  <div class="toggleMenus">
    <ion-list lines="none" mode="md" style="background: transparent;" *ngFor="let item of cartItems">
      <ion-item style="margin-top: -15px;" mode="md" style="background: transparent;" *ngIf="item.count !== 0">
        <ion-label>
          <div class="details">
            <h2 style="font-size: 13px; font-weight: 600; display: flex; align-items: center; white-space: pre-wrap;">
              {{item.name}}
            </h2>
            <h3 class="price">&#x20b9;{{item.price}}</h3>
            <p style="font-size: 12px; color: #3F51B5;font-weight: 600;letter-spacing: 1px;" *ngIf="item.expressSelected">
              Express Delivery
            </p>
          </div>
  
          <div class="add-action">
            <div class="add-item-button" *ngIf="item.count !== 0">
              <ion-icon (click)="decrementQty(item)" class="add-item-button-left" name="remove-outline"></ion-icon>
              {{item.count}} <ion-icon (click)="incrementQty(item)" class="add-item-button-right" name="add-outline">
              </ion-icon>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  
  
  <br><br>
  <div class="guest-details">
    <div class="spa-divider"></div>
    <br>
    <ion-item lines="none" (ionChange)="pickupNowChange(pickupNow)">
      <ion-label>Pick up now</ion-label>
      <ion-checkbox mode="md" slot="start" [(ngModel)]="pickupNow"></ion-checkbox>
    </ion-item>
    <ion-text class="ion-padding-horizontal">OR</ion-text>
    <br>
    <ion-item lines="none" [disabled]="isDisabled">
      <ion-label>Select Date</ion-label>
      <ion-datetime [(ngModel)]="date" value="" pickerFormat="DD MMMM YYYY" max="2030-12-31" placeholder="Select Date">
      </ion-datetime>
    </ion-item>
  
    <ion-item lines="none" [disabled]="isDisabled">
      <ion-label>Select Time</ion-label>
      <ion-datetime [(ngModel)]="time" display-format="h:mm A" picker-format="h:mm A" min="7:00 AM" max="12:00 AM" placeholder="Select Time">
      </ion-datetime>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label>Room Number</ion-label>
      <ion-input [(ngModel)]="room" style="border-bottom: 1px solid #cecbcb; margin-left: 120px; text-align: right;"
        type="number" clearInput="true"></ion-input>
    </ion-item>
    <br> <br>
    <div class="spa-divider"></div>
  </div>
  
  <br><br><br><br>
</ion-content>