<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <div class="container">
    <div>
      <h2 style="text-align: center;">WELCOME</h2>
      <br>
      <h4>Dear Guest,</h4>
      <p>Welcome to Pullman New Delhi Aerocity!</p>
      <p>Whether you are here for business or leisure, our endeavour is to meet your needs through our amenities, dining
        options, recreational and convention facilities. A hotel should be more than just a place to stay and relax. That is
        why our team of enthusiastic Welcomers are dedicated to making sure you receive the best of services.</p>
      <p>Once again, my entire team and I thank you for staying with us at Pullman New Delhi Aerocity.</p>
      <p>Sincerely,<br>
        Biswajit Chakraborty<br>
        General Manager Delegate<br>
        Pullman & Novotel New Delhi Aerocity</p>
    </div>
  </div>
</ion-content>
