<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <div class="container">
    <h2 style="text-align: center;">WELCOME</h2>
    <p style="text-align: center;">We look forward to providing you with an unforgettable experience.</p>
    <div>
      <p>It is a privilege to welcome you to the JW Marriott Hotel New Delhi Aerocity, the first Marriott Hotel in the
        nation's capital. The exquisite JW Marriott Hotel New Delhi Aerocity brings to you an incomparable guest
        experience in this multi-dimensional metropolis. A city of parks, gardens, historical monuments, art, music and
        theatre; Delhi encapsulates two very different worlds - the old and the new. As our guest, we invite you to
        experience this dynamic city first hand whilst we take care of every detail that ensures you have an incredible
        stay.</p>
      <p>The JW Marriott Griffin is the embodiment of vision, perspective, protection and strength. Like our icon, we
        strive to intuitively anticipate your needs, guard you against unnecessary distractions, and orchestrate a stay
        that is both, seamless and memorable.</p>
      <p>To ensure your utmost comfort, our "At Your Service" team is always available to iron out the details so your
        visit is nothing short of perfect. Press the "At Your Service" button on your phone and an associate will assist
        you promptly. We hope you enjoy your stay here and leave with fond memories of this unforgettable destination.</p>
      <p>Every step of the way, our expert staff is committed to offer thoughtful, personalized service to enrich your
        experience. We wish you an exceptional stay.</p>
      <p><b>JW Marriott New Delhi Aerocity </b> <br> Aerocity Hospitality District Asset Area 4, Delhi
        110037</p>
      <p>Tel +91.11.4521.2121 <br> Fax +91.11.4521.2122</p>
      <p><a href="#">jwdelhi.com/</a></p>
    </div>
  </div>
</ion-content>
