<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/irs"></ion-back-button>
  </ion-buttons>

  <div class="safty-wrap ion-padding-horizontal">
    <h4>1. TYPE A 4 DIGIT CODE</h4>
    <h4>2. PRESS LOCK</h4>
    <h4>3. TO OPEN USE THE SAME CODE</h4>
    <br>

    <p>ALL VALUABLES MUST BE KEPT IN SAFE.</p>
    <h6>CAUTION</h6>
    <div class="span-wrap">
      <span>Please ensure that the door is properly locked.</span> <br>
      <span>Check your safe and leave it open before checking out.</span> <br>
      <span>For security purposes, the safe will automatically cease functioning for 15 minutes after
      3 consecutive errors in code input</span>
    </div>
  </div>
</ion-content>
