<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/irs"></ion-back-button>
  </ion-buttons>

  <div class="container ion-padding-horizontal">
    <div>
      <h2 style="text-align: center;">PULLMAN PILLOW MENU</h2>
      <h3>NOTHING BEATS A GOOD NIGHT’S SLEEP</h3>
      <p>THERE’S NO SUCH THING AS ONE PERFECT PILLOW FOR EVERYONE, SO WE OFFER YOU A SELECTION TO CHOOSE FROM.</p>
    </div>
    <div class="pillowBody">
      <h3>PILLOWS (SYNTHETIC)</h3>
      <h4>SYNTHETIC PILLOW</h4>
      <p>Offers perfect support for people who sleep on their back or side.</p>
      <h4>FOAM PILLOW</h4>
      <p>Adapts perfectly to head and neck; optimal support for people sleeping on their back or side.</p>
      <h4>LEG PILLOW</h4>
      <p>Helps refresh legs and improve blood circulation.</p>
    </div>
    <div class="pillowBody">
      <h3>MIX NATURAL/SYNTHETIC</h3>
      <h4>SOFT PILLOW</h4>
      <p>Soft Pillows will envelope your head with soft, silky, cushioning comfort. This indoor/outdoor pillow has 100%
        polyfill and a polyester protective cover.</p>
    </div>
    <div class="pillowBody">
      <h3> NATURAL</h3>
      <h4>NECK PILLOW</h4>
      <p>Offers pressure distribution and head, neck and shoulder support for a good night’s rest.</p>
      <h4>DOWN PILLOW</h4>
      <p>Down pillows are made from the back, wing and chest feathers of geese. Down pillows mould to the shape of your
        head, regardless of your sleeping position.</p>
      <h4>FEATHER PILLOW</h4>
      <p>Feather pillow has 100% duck feathers. Feather Pillow adds a little flair and comfort to the body and smoother
        feel.</p>
      <h4>COTTON PILLOW</h4>
      <p>Hard Pillow is made from the finest
        of cotton fiber. Hard Pillows are cool and moisture absorbing for comfortable sleep.</p>
    </div>
  </div>
</ion-content>
