ion-thumbnail {
  width: 100%;
  height: 144px;

  img {
    border-radius: 8px;
  }
}

.row-padding {
  padding: 0px 13px;

  .journey-tiles {
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #ebebeb;
    color: #525252;
    margin-bottom: 10px;
    height: 115px;
  }
}