<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img src="../../../../assets/dining-banner.jpg" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-padding">
    <ion-col size="12" class="journey-tiles" (click)="nourishmentNavigation('pre-order')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Pre-order breakfast</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles"  (click)="nourishmentNavigation('breakfast')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">breakfast</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles"  (click)="nourishmentNavigation('ird-menu')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">All-day In-room dining</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" (click)="nourishmentNavigation('late-night')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Late-night Dining</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles"  (click)="nourishmentNavigation('refreshment-menu')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Wine and Beverage</span> <br>
    </ion-col>
    <!-- <ion-col size="12" class="journey-tiles" style="background-color: #DFB97A;" (click)="nourishmentNavigation('guide')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500;">IN ROOM REFRESHMENT CENTER</span> <br>
    </ion-col> -->
  </ion-row>
</ion-content>
