.welcome-wrap {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/welcome.png);
  background-size: cover;
  background-position: top;
}

.bottom-buttons {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 1000000;
  text-align: right;
}

.place-order-btn {
  background-color: #ffffff;
  padding: 10px 16px;
  box-shadow: 0px 0px 10px #c8c8c8;
}

.choose-action {
  width: 100%;
  height: 100vh;
  position: relative;

  .center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0px 30px;
    width: 100%;

    .welcome-msg {
      margin: 30px 0px;
      text-align: center;
    }
  }
}


.hotel-logo {
  text-align: center;
  h2  {
    font-weight: 300;
    letter-spacing: 2.2px;
    text-transform: uppercase;
  }
  h2 span {
    font-weight: 400;
    color: #555;
  }

  h4 {
    color: #7a7a7a;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-top: 0px;
  }
}



// For Hotel
.hotel-welcome-section {
  background-color: #747474;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;

  .hotel-welcome-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #eee;

    img {
      margin-bottom: 30%;
    }

    .hotel-welcome-msg {
      h4 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }

    .navigation-action {
      margin-top: 50%;

      h6 {
        font-size: 14px;
      }
    }
  }
}