<ion-content *ngIf="propertyType === 1">
  <div class="rest-wrap-color" [style.background-color]="hotelDetails.hotel_header_color" [style.color]="hotelDetails.hotel_bc_color">
    <div class="bottom-buttons">
      <div class="place-order-btn ion-padding-horizontal">
        <ion-row>
          <ion-col size="5">
            <ion-button (click)="takeAway()" fill="clear">Take Away</ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col size="5">
            <ion-button fill="clear" color="success" (click)="dineIn()" expand="block">Dine In</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    
    <div class="choose-action">
      <div class="center-item">
        <div class="hotel-logo">
          <img src="{{hotelDetails.logo}}" width="50px" alt="" srcset="">
          <h2>{{hotelName}}</h2>
        </div>
        <div class="welcome-msg">
          <p>
            {{hotelDetails.welcome_msg}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>




<ion-content *ngIf="propertyType === 0">
  <div class="hotel-welcome-section" (click)="redirectToHome()">
    <div class="hotel-welcome-content">
      <img src="../../assets/Logo_White.png" alt="" width="100px">

      <div class="hotel-welcome-msg">
        <h4>CONTACT-LESS SERVICE EXPERIENCE</h4>
        <p>An initiative to secure our guests <br>
        from COVID-19 exposure</p>
      </div>

      <div class="navigation-action">
        <h6>CLICK ANYWHERE TO CONTINUE</h6>
      </div>
    </div>
  </div>
</ion-content>
