<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/poi.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">POINTS OF INTEREST</h2>
      <h4>ART COLLECTION</h4>
      <p>Pullman Hotels and Resorts has an incredible commitment to design, art, photography and local culture and
        collaborates with artists and designers around the world to help bring its design vision to life.</p>
      <p>‘Artist’s Playground by Pullman’ is a project that is a manifestation of Pullman New Delhi Aerocity’s own design
        vision. This program has been created as a new initiative, intended to add elements of local interest, culture
        intrigue and visual ingenuity to the hotel’s communal space.<br>Located at lower ground level</p>
    </div>
    <div>
      <h4>CINEMA</h4>
      <p>PVR Cinemas, Ambience Mall, Gurgaon: 8 Kms from the hotel.<br>
        PVR Cinemas, DLF Promenade Mall, New Delhi: 7 Kms from the hotel.<br>
        Details of programs are available at the hotel, kindly contact Concierge at 8227 or dial ‘0’.</p>
    </div>
    <div>
      <h4>GOLF</h4>
      <p>Golfing Range at Quoin, Novotel New Delhi Aerocity<br>
        Too cold, too hot, or too dark? Don’t let the weather dictate your time to play Golf!<br>
        Golf simulator at Quoin welcomes all the golf lovers to experience the real golfing. Practice, play and train or
        choose to go solo or group golfing while enjoying some of our interesting cuisines or sipping your favourite brew.
        #AlwaysGameOn<br>
        Operating hours: Round the clock<br>
        For any assistance or to arrange bookings, please contact
        dial 8209.</p>
    </div>
    <div>
      <h4>PULLMAN</h4>
      <p>In the heart of the city, in the most coveted travel destinations, there's a Pullman Hotel. Because Pullman is
        right where we expect it. Pullman is the place where modern-day adventurers, nomad, and long-haul travelers drop
        their bags and put up their feet. For business and for pleasure. They come alone, with their loved ones, or with
        their colleagues. Because Pullman is where ideas come to meet.<br>Pullman welcomes those who are short on time or
        those who prefer to sit back and watch the time pass.<br> Pullman is an international upscale brand of the Accor
        group, the world's leading hotel operator.<br>80 Pullman hotels are situated in Europe, in Africa, in the Middle
        East, in the Asia-Pacific region and in Latin America.<br>Pullman participates in Le Club AccorHotels loyalty
        program.</p>
    </div>
    <div>
      <h4>SHOPPING</h4>
      <p>Delhi has a variety of malls, flea markets and shopping areas which will suit the requirements of each guest.
        Please contact Concierge at 8227 or dial '0'.</p>
    </div>
    <div>
      <h4>SIGHTSEEING AND TOURS</h4>
      <p>The Concierge will be happy to suggest and arrange any sightseeing tours you may wish to do. Please contact
        Concierge, Dial 8227 or dial '0'.</p>
    </div>
  </div>
</ion-content>