<ion-toolbar>
  <ion-title>
    <img src="../../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home/journey"></ion-back-button>
  </ion-buttons>

  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../../assets/swimming-pool.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <div class="container">
    <div>
      <h2 style="text-align: center;">SWIMMING POOL</h2>
      <p>Take an invigorating dip in the pool to beat the heat or simply chill by the poolside with a freshly prepared pool
        bar cocktail. Recharge your energy beside or in the pool after a busy day of meetings, or shopping. A great exercise
        and way to unwind.</p>
      <p>Located at level 2 (can be accessed through the Fit Lounge)</p>
      <p>Operating hours:<br>
        Summer Timings:<br>
        Daily 0800 hrs to 2000 hrs</p>
      <p>Winter Timings:
        Daily 0900 hrs to 1900 hrs</p>
    </div>
    <div>
      <h4>SAUNA & STEAM</h4>
      <p>Unwind in a separate Sauna and Steam room for deep cleansing. We provide infused water and seasonal fruit amenity.
      </p>
      <p>Operating hours<br>
        Spa wet Areas:<br>
        0700 hrs to 2300 hrs
      </p>
    </div>
  </div>
</ion-content>