<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-back-button defaultHref="/hotel/tabs/hotel-home"></ion-back-button>
  </ion-buttons>

  <div class="headerTvGuide">
    <h3 style="color: #fff;">TV CHANNEL GUIDE</h3>
  </div>
  <div class="bodyContentTvGuide">
    <ul>
      <li>
        <p>To operate the TV use the white power button on the remote to SWITCH-ON the TV.</p>
      </li>
      <li>
        <p>Press the “HOME” button in the remote to access the bouquet of TV channels available.</p>
      </li>
      <li>
        <p>Select your channel and enjoy viewing.</p>
      </li>
      <li>
        <p>In case of “NO SIGNAL” please pres the red power button to start the set-top box.</p>
      </li>
      <p style="margin-top: 40px;">For any assistance, please call AYS </p>
    </ul>
    <div class="tvGuideChannel">
      <ul>
        <p><b>Hotel info and FTA</b></p>
        <li><b>4051</b> Marriott Channel</li>
        <li><b>4052</b> Hotel information</li>
        <li><b>4053</b> NHK</li>
        <li><b>4054</b> Channel News Asia</li>
        <li><b>4055</b> DW TV</li>
        <li><b>4056</b> TV 5 Monde </li>
      </ul>
      <ul>
        <p><b>Hindi Entertainment </b></p>
        <li><b>105</b> Sony </li>
        <li><b>107</b> SAB </li>
        <li><b>109</b> &TV </li>
        <li><b>113</b> Star Plus </li>
        <li><b>116</b> Star Bharat </li>
        <li><b>118</b> Zee TV </li>
        <li><b>125</b> Big Magic </li>
        <li><b>126</b> Jeet Prime </li>
        <li><b>147</b> Zoom </li>
        <li><b>193</b> DD NATIONAL </li>
        <li><b>197</b> DD BHARATI </li>
        <li><b>305</b> &pictures </li>
        <li><b>310</b> Zee Bollywood </li>
        <li><b>340</b> Zee Action </li>
        <li><b>343</b> Sony MAX </li>
        <li><b>344</b> Box Cinema</li>
        <li><b>345</b> Sky Star</li>
        <li><b>347</b> Zee Cinema </li>
        <li><b>348</b> WOW Cinema </li>
        <li><b>349</b> MAX 2</li>
        <li><b>353</b> Star Gold </li>
        <li><b>357</b> Movies Ok</li>
        <li><b>360</b> B4U Movies</li>
        <li><b>382</b> Star Gold Select</li>
        <li><b>387</b> Maha Movie</li>
        <li><b>407</b> Enterr10</li>
        <li><b>411</b> Movie House</li>
        <li><b>451</b> Zing</li>
        <li><b>453</b> Zee ETC Bollywood</li>
        <li><b>457</b> B4U Music</li>
        <li><b>459</b> MTV Beats</li>
        <li><b>463</b> 9X Jalwa</li>
        <li><b>465</b> 9X M</li>
        <li><b>479</b> Music India</li>
        <li><b>779</b> DD India</li>
        <li><b>2006</b>Star Utsav </li>
        <li><b>2414</b> SONY WAH </li>
        <li><b>2415</b> Mastiii </li>
        <li><b>2418</b> Zee Anmol Cinema</li>
        <li><b>2420</b> Sony Mix </li>
        <li><b>2422</b> Sony PAL </li>
        <li><b>2329</b> Manoranjan TV</li>
        <li><b>2367</b> Zee Anmol </li>
        <li><b>2376</b> Manoranjan Movies</li>
        <li><b>2397</b> Star Utsav Movies</li>
      </ul>
      <ul>
        <p><b>Infotainment/Knowledge</b></p>
        <li><b>803</b> Discovery</li>
        <li><b>806</b> Animal Planet</li>
        <li><b>809</b> National Geographic</li>
        <li><b>812</b> Discovery Science</li>
        <li><b>814</b> Discovery Turbo</li>
        <li><b>822</b> National Geographic Wild</li>
        <li><b>825</b> FYI TV18</li>
        <li><b>829</b> SONY BBC EARTH</li>
        <li><b>903</b> Living Foodz</li>
        <li><b>915</b> Fox Life</li>
        <li><b>919</b> TLC</li>
      </ul>
      <ul>
        <p><b>Kids</b></p>
        <li><b>960</b> Discovery Kids</li>
        <li><b>989</b> SONY YAY</li>
      </ul>
      <ul>
        <p><b>Punjabi/Rajsthani/Kashmiri</b></p>
        <li><b>215</b> DD KASHIR</li>
        <li><b>245</b> DD RAJASTHAN</li>
        <li><b>727</b> Zee Rajasthan News</li>
        <li><b>730</b> A1 TV</li>
        <li><b>1154</b> PTC Punjabi</li>
        <li><b>1169</b> DD PUNJABI</li>
        <li><b>1181</b> Pitaara TV</li>
        <li><b>1183</b> PTC Chakde</li>
        <li><b>1185</b> 9X Tashan</li>
        <li><b>1187</b> MH1</li>
        <li><b>1189</b> Zee Punjab Haryana Himachal</li>
        <li><b>1191</b> PTC News</li>
      </ul>
      <ul>
        <p><b>Marathi/Gujarati</b></p>
        <li><b>1229</b> Dd10 Sahyadri (Marathi)</li>
        <li><b>1241</b> Sangeet Marathi</li>
        <li><b>1243</b> 9X Jhakaas</li>
        <li><b>1245</b> Mailboli</li>
        <li><b>1253</b> ABP Majha</li>
        <li><b>1259</b> TV9 Maharashtra</li>
        <li><b>1261</b> SAAM TV</li>
        <li><b>1279</b> DD GIRNAR</li>
        <li><b>1291</b> Zee 24 Kalak</li>
        <li><b>1293</b> ABP Asmita</li>
        <li><b>1295</b> GS TV</li>
        <li><b>1296</b> Sandesh News</li>
        <li><b>1299</b>TV9 Gujarati </li>
      </ul>
      <ul>
        <p><b>Devotional</b></p>
        <li><b>1051</b>Divya TV</li>
        <li><b>1057</b>Ishwar TV</li>
        <li><b>1059</b>Sadhna Bhakti</li>
        <li><b>1065</b>Satsang</li>
        <li><b>1067</b>Sanskar</li>
        <li><b>1071</b>Vedic</li>
        <li><b>1073</b>Aastha Bhajan</li>
        <li><b>1077</b>Aastha</li>
        <li><b>1079</b>Shubh TV</li>
        <li><b>1087</b>Peace of Mind</li>
        <li><b>1103</b>Mahavira</li>
        <li><b>1107</b>Arihant TV</li>
        <li><b>1132</b>GOD TV</li>
      </ul>
      <ul>
        <p><b>English Entertainment</b></p>
        <li><b>503</b>Zee Cafe</li>
        <li><b>509</b>Star World</li>
        <li><b>512</b>AXN</li>
        <li><b>541</b>&flix</li>
        <li><b>543</b>MNX</li>
        <li><b>545</b>PIX</li>
        <li><b>547</b>Movies Now</li>
        <li><b>549</b>Star Movies</li>
        <li><b>554</b>WB</li>
        <li><b>566</b>Romedy Now</li>
      </ul>
      <ul>
        <p><b>Sports</b></p>
        <li><b>603</b>Star Sports 1</li>
        <li><b>605</b>Star Sports 2</li>
        <li><b>607</b>Star Sports 1 Hindi</li>
        <li><b>611</b>Sony TEN 1</li>
        <li><b>613</b>Sony TEN 2</li>
        <li><b>615</b>Sony TEN 3</li>
        <li><b>621</b>Star Sports 1</li>
        <li><b>621</b>SONY ESPN</li>
        <li><b>623</b>Sony Six</li>
        <li><b>630</b>DSPORT</li>
        <li><b>639</b>DD SPORTS</li>
        <li><b>646</b>Star Sports 1</li>
        <li><b>648</b>Star Sports Select 2</li>
        <li><b>650</b>Star Sports 3</li>
        <li><b>2410</b>Star Sports First</li>
      </ul>
      <ul>
        <p><b>Hindi News</b></p>
        <li><b>651</b>Zee News</li>
        <li><b>653</b>India tv</li>
        <li><b>655</b>Aaj Tak</li>
        <li><b>656</b>Republic Bharat</li>
        <li><b>657</b>News Nation</li>
        <li><b>659</b>NDTV</li>
        <li><b>660</b>Zee Hindustan</li>
        <li><b>661</b>News 24</li>
        <li><b>663</b>News18 India</li>
        <li><b>665</b>India News</li>
        <li><b>673</b>ABP news</li>
        <li><b>695</b>DD Loksabha</li>
        <li><b>697</b>DD Rajyasabha</li>
        <li><b>699</b>DD NEWS</li>
        <li><b>731</b>Zee Business</li>
        <li><b>2307</b>Surya Samachar</li>
      </ul>
      <ul>
        <p><b>English News </b></p>
        <li><b>751</b>ET Now</li>
        <li><b>763</b>India Today</li>
        <li><b>765</b>WION</li>
        <li><b>767</b>Times Now</li>
        <li><b>769</b>CNN News 18</li>
        <li><b>771</b>CNN News 18</li>
        <li><b>773</b>Mirror Now</li>
        <li><b>775</b>India Ahead</li>
        <li><b>781</b>CNN INTL</li>
        <li><b>783</b>BBC World News</li>
        <li><b>785</b>CGTN</li>
        <li><b>790</b>France 24</li>
        <li><b>792</b>Russia Today</li>
      </ul>
      <ul>
        <p><b>Oriya</b></p>
        <li><b>1325</b> Dd6 Oriya</li>
        <li><b>1351</b> OTV</li>
        <li><b>1357</b> Kalinga TV</li>
        <li><b>1359</b> Kanak News</li>
        <li><b>1361</b> Naxatra News</li>
      </ul>
      <ul>
        <p><b>Bangla/Assami/North east</b></p>
        <li><b>1413</b> Aakash aath</li>
        <li><b>1429</b> DD7 Bangla</li>
        <li><b>1459</b> Dhoom Music TV</li>
        <li><b>1461</b> Sangeet Bangla</li>
        <li><b>1473</b> News Time</li>
        <li><b>1477</b> ABP Ananda</li>
        <li><b>1485</b> R Plus</li>
        <li><b>1507</b> Rengoni TV</li>
        <li><b>1509</b> Rang</li>
        <li><b>1511</b> Jonack TV</li>
        <li><b>1513</b> DD NORTH EAST</li>
        <li><b>1515</b> Ramdhenu</li>
        <li><b>1526</b> Prag TV</li>
        <li><b>1529</b> DY 365</li>
        <li><b>1531</b> Pratidin Time</li>
        <li><b>1535</b> News Live</li>
        <li><b>1537</b> Nepal One</li>
      </ul>
      <ul>
        <p><b>Bihar/UP/MP/Urdu</b></p>
        <li><b>127</b> Dangal TV</li>
        <li><b>203</b> Zee Salaam</li>
        <li><b>213</b> DD URDU</li>
        <li><b>229</b> DD UP</li>
        <li><b>237</b> DD MP</li>
        <li><b>705</b> Gulistan News</li>
        <li><b>707</b> Zee UP Uttrakhand</li>
        <li><b>709</b> News State</li>
        <li><b>711</b> News18 UP/Uttarakhand</li>
        <li><b>715</b> Zee MP Chattisgardh</li>
        <li><b>719</b> IBC 24</li>
        <li><b>1113</b> Channel WIN</li>
        <li><b>1552</b> Big Ganga</li>
        <li><b>1554</b> Bhojpuri Cinema</li>
        <li><b>1565</b> DD BIHAR</li>
        <li><b>1573</b>Sangeet Bhojpuri</li>
        <li><b>1575</b> Zee Bihar Jharkhand</li>
      </ul>
      <ul>
        <p><b>Telugu/Kannada/Tamil/Malayalam</b></p>
        <li><b>1629</b> DD Saptagiri</li>
        <li><b>1665</b> 10TV Telugu News</li>
        <li><b>1667</b> TV9 Telugu news</li>
        <li><b>1669</b> TV5 Telugu News</li>
        <li><b>1671</b> Sakshi TV</li>
        <li><b>1673</b> NTV News</li>
        <li><b>1675</b> ABN Andhra Jyothi</li>
        <li><b>1677</b> T News</li>
        <li><b>1679</b> V6 News</li>
        <li><b>1693</b> Subhavartha TV</li>
        <li><b>1695</b> SVBC</li>
        <li><b>1704</b> Kasturi TV</li>
        <li><b>1729</b> DD9 Chandana (Kannada)</li>
        <li><b>1766</b> TV9 Kannada</li>
        <li><b>1768</b> Suvarna News 24x7</li>
        <li><b>1774</b> Public TV</li>
        <li><b>1776</b> Digvijay 24x7</li>
        <li><b>1778</b> BTV News</li>
        <li><b>1780</b> Samaya Karnataka</li>
        <li><b>1809</b> Sirippoli</li>
        <li><b>1815</b> Kalaignar TV</li>
        <li><b>1821</b> Captain Tv</li>
        <li><b>1827</b> Polimer TV</li>
        <li><b>1829</b> Vasanth TV</li>
        <li><b>1831</b> Makkal Tv</li>
        <li><b>1833</b> Puthu Yugam</li>
        <li><b>1849</b> DD5 Podhigai (Tamil)</li>
        <li><b>1857</b> Isaiyaruvi</li>
        <li><b>1863</b> Murasu TV</li>
        <li><b>1873</b> Seithigal</li>
        <li><b>1875</b> Thanthi TV</li>
        <li><b>1877</b> Puthiya Thalaimurai</li>
        <li><b>1895</b> Angel TV</li>
        <li><b>1911</b> Kairali</li>
        <li><b>1913</b> Amrita TV</li>
        <li><b>1915</b> Mazhavil Manorama</li>
        <li><b>1917</b> Kaumudy</li>
        <li><b>1919</b> We TV</li>
        <li><b>1921</b> Kappa TV</li>
        <li><b>1939</b> DD4 Malayalam</li>
        <li><b>1961</b> Asianet News</li>
        <li><b>1967</b> Manorama News</li>
        <li><b>1969</b> Mathrubhumi News</li>
        <li><b>1971</b> People</li>
        <li><b>1973</b> Jeevan</li>
        <li><b>1975</b> Janam TV</li>
        <li><b>1993</b> Goodness TV</li>
      </ul>
    </div>
  </div>
</ion-content>