.headerTvGuide{
padding: 40px 20px;
background-color: #66615D;
}
.bodyContentTvGuide{
background-color: #FCFCF7;
padding: 40px 0px;
}
.tvGuideChannel ul>li>b{margin-right: 20px;}

.tvGuideChannel ul {
  list-style: none;
}