<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../assets/journey.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <ion-row class="row-padding">
    <ion-col size="12" class="journey-tiles" style="background-color: #BDBDBF;" (click)="navigateJourney('welcome')">
        <span class="header-txt" style="font-size: 15px; font-weight: 500;">WELCOME</span> <br>
        <span style="font-size: 13px;">We look forward to providing you with an unforgettable experience.</span>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #F3DBC7;" (click)="navigateJourney('highlights')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Highlights</span> <br>
      <span style="font-size: 13px;">We invite you to savor every minute of your experience. If we can assist you in any way, please contact the Front Desk.</span>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #B7DDED;" (click)="navigateJourney('ht')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Hotel Services</span> <br>
      <span style="font-size: 13px;">Internet & Phone, Retail, Parking, Movies, TV, Radio, Meetings & Events, Business Services.</span>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #8BA37E;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Local experience</span> <br>
      <span style="font-size: 13px;">A city of parks, gardens, historical monuments, art, music and theatre; Delhi encapsulates two very different worlds -
      the old and the new.</span>
    </ion-col>
  </ion-row>

</ion-content>
