<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-row style="padding: 0px 9px; margin-bottom: 10px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px;" src="../../../../assets/room-directory-banner.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <ion-row class="row-padding">
    <ion-col *ngFor="let item of navigationTile" size="12" class="journey-tiles" style="background-color: #fff;" [routerLink]="[item.link]">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">{{item.header}}</span> <br>
      <!-- <span style="font-size: 13px;">We look forward to providing you with an unforgettable experience.</span> -->
    </ion-col>

    <!-- <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('welcome')">
        <span class="header-txt" style="font-size: 15px; font-weight: 500;">WELCOME</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('highlights')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">F&B</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('ht')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Room</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Bathroom</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Public Area</span> <br>
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Well Being</span> <br>
      
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Swimming Pool</span> <br>
      
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Meetings</span> <br>
      
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Connectivity</span> <br>
      
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Point of Interest</span> <br>
      
    </ion-col>
    <ion-col size="12" class="journey-tiles" style="background-color: #fff;" (click)="navigateJourney('lc')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Transportation</span> <br>
      
    </ion-col> -->
  </ion-row>

</ion-content>
