<ion-toolbar>
  <ion-title>
    Laundry is operational 24X7
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissCart()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <div class="tnc ion-padding-horizontal">
    <p>Children clothes below 10 years will be processed at 50% of rates mentioned on the list
    Please place items for Laundry/Dry cleaning/ Pressing in the bags provided.</p>
    <p>Hotel will not be responsible for shrinkage, colour fading and garment not claimed within 30 days.
    Hotel reserves the rights to decide compensation to be given if any. Compensation is strictly 10 times of that
    particular garments washing charges.</p>

    <p><b>Garments collected by 10:00 am will be delivered by 7:00 pm the same day.</b></p>
    <p><b>Garments collected after 10:00 am will be delivered by 7:00 pm the next day.</b></p>
  
    <h5>PRESSING SERVICE</h5>
    <p>One hour pressing service available (limited for 3 garments)</p>

    <h5>EXPRESS SERVICE</h5>
    <p>Returned within three hours at 100% extra charges</p>
  </div>

</ion-content>