<ion-toolbar>
  <ion-title>
    <img src="../../../../assets/Logo_Grey.png" alt="">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-row style="margin-bottom: 10px; padding: 0px 8px;">
    <ion-col size="12">
      <ion-thumbnail>
        <img style="border-radius: 8px; box-shadow: 0px 0px 3px #ccc;" src="../../../../assets/spa-banner.png" alt="">
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <ion-row class="row-padding">
    <ion-col size="12" class="journey-tiles" (click)="spaNavigate('spa-menu')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Spa Menu</span> <br>
    </ion-col>
    
    <ion-col size="12" class="journey-tiles" (click)="spaNavigate('spa-kids')">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Kids Spa Menu</span> <br>
    </ion-col>

    <ion-col size="12" class="journey-tiles">
      <span class="header-txt" style="font-size: 15px; font-weight: 500; text-transform: uppercase;">Salon Menu</span> <br>
    </ion-col>
  </ion-row>
</ion-content>